<div class="container">
  <div class="block">
    <h3>Select the website to be blocked</h3>
    <form action="">
      <div class="input-group">
        <mat-radio-group color="primary" class="radio-group">
          <mat-radio-button value="1" color="primary"
            >Facebook
          </mat-radio-button>
          <mat-radio-button value="2" color="primary">Youtube</mat-radio-button>
          <mat-radio-button value="3" color="primary">Pornhub</mat-radio-button>
          <mat-radio-button value="4" color="primary" (click)="onClick()"
            >Other :
          </mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf="hide" class="input-url">
          <input matInput placeholder="Website url" />
        </mat-form-field>
      </div>
      <div class="input-group">
        <div class="input-datetime">
          <span>Starts at : </span>
          <input
            type="text"
            mwlFlatpickr
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </div>
        <div class="input-datetime">
          <span>Ends at : </span>
          <input
            type="text"
            mwlFlatpickr
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </div>
      </div>
      <div class="btn-group">
        <button mat-button class="btn-block">
          <i class="fas fa-ban"></i>&nbsp;Block now!
        </button>
      </div>
    </form>
  </div>
</div>
