<main class="top-view">
  <div class="overview">
    <h1 class="overview__heading">
      <mat-icon
        color="primary"
        style="display: inline-flex; vertical-align: middle;"
        >home</mat-icon
      >
      username
    </h1>

    <div class="overview__count">
      <div class="overview__count-average">3.5</div>
      <div class="overview__count-count">Overall Rating</div>
    </div>
  </div>

  <div class="detail">
    <div class="description-main"><h1>ตรงนี้ใส่อะไรดีอะ</h1></div>
    <div class="description-side">
      <div class="description-side__sub">
        <h1>Trending :</h1>
        <div class="user-expore">
            <div class="user">
              <img class="user-img" src="../../../assets/img/user/a.png" alt="" />
              <div class="user-acc">
                <span class="user-username">Username</span>
                <span class="user-detail">small detail</span>
              </div>
            </div>
            <button class="btn-follow"><span>+</span>follow</button>
          </div><div class="user-expore">
              <div class="user">
                <img class="user-img" src="../../../assets/img/user/a.png" alt="" />
                <div class="user-acc">
                  <span class="user-username">Username</span>
                  <span class="user-detail">small detail</span>
                </div>
              </div>
              <button class="btn-follow"><span>+</span>follow</button>
            </div><div class="user-expore">
                <div class="user">
                  <img class="user-img" src="../../../assets/img/user/a.png" alt="" />
                  <div class="user-acc">
                    <span class="user-username">Username</span>
                    <span class="user-detail">small detail</span>
                  </div>
                </div>
                <button class="btn-follow"><span>+</span>follow</button>
              </div><div class="user-expore">
                  <div class="user">
                    <img class="user-img" src="../../../assets/img/user/a.png" alt="" />
                    <div class="user-acc">
                      <span class="user-username">Username</span>
                      <span class="user-detail">small detail</span>
                    </div>
                  </div>
                  <button class="btn-follow"><span>+</span>follow</button>
                </div>
      </div>
      <div class="description-side__sub">
        <h1>Who to follow :</h1>
        <div class="user-expore">
          <div class="user">
            <img class="user-img" src="../../../assets/img/user/a.png" alt="" />
            <div class="user-acc">
              <span class="user-username">Username</span>
              <span class="user-detail">small detail</span>
            </div>
          </div>
          <button class="btn-follow"><span>+</span>follow</button>
        </div>
        <div class="user-expore">
          <div class="user">
            <img class="user-img" src="../../../assets/img/user/a.png" alt="" />
            <div class="user-acc">
              <span class="user-username">Username</span>
              <span class="user-detail">small detail</span>
            </div>
          </div>
          <button class="btn-follow"><span>+</span>follow</button>
        </div>
        <div class="user-expore">
          <div class="user">
            <img class="user-img" src="../../../assets/img/user/a.png" alt="" />
            <div class="user-acc">
              <span class="user-username">Username</span>
              <span class="user-detail">small detail</span>
            </div>
          </div>
          <button class="btn-follow"><span>+</span>follow</button>
        </div>
        <div class="user-expore">
          <div class="user">
            <img class="user-img" src="../../../assets/img/user/a.png" alt="" />
            <div class="user-acc">
              <span class="user-username">Username</span>
              <span class="user-detail">small detail</span>
            </div>
          </div>
          <button class="btn-follow"><span>+</span>follow</button>
        </div>
      </div>
    </div>
  </div>
</main>
