$bp-largest: 75em; //1200px  (1200/16)
$bp-large: 68.25em; //1100px  (1100/16)
$bp-medium: 65.25em; //900px  (900/16)
$bp-small: 37.5em; //600px  (600/16)
$bp-smallest: 31.25em; //500px  (500/16)
.top-view {
  background-color: var(--color-grey-light-1);
  flex: 1;
  @media only screen and (max-width: 1400px) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-largest) {
    margin-left: 4rem;
  }
  @media only screen and (max-width: $bp-large) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: 1044px) {
    margin-left: 0rem;
  }
}

.detail {
    display: flex;
    flex-direction: row;
    border-bottom: var(--line);
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
        flex-direction: column;
    }
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 2rem;
    }
    @media only screen and (max-width: 370px) {
        padding: .5rem;
    }
}

.description {
    &-main {
        background-color: white;
        box-shadow: var(--shadow-light);
        flex: 0 0 65%;
        margin: 2rem 0rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        @media only screen and (max-width: $bp-large) {
            margin: 1rem 2rem 0rem 2rem;
        }
    }
    &-side {
        flex: 1;
        &__sub {
            background-color: white;
            box-shadow: var(--shadow-light);
            padding: 1.5rem;
            margin: 2rem;
        }
    }
}

.overview {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--line);
  align-items: center;
  background-color: #fff;
  margin-top: 7rem;
  padding-left: 2rem;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 6rem;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
    @media only screen and (max-width: $bp-large) {
      padding: 1.5rem 6rem;
    }
    @media only screen and (max-width: $bp-largest) {
      padding: 1.5rem 6rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    font-size: 0.5rem;
  }

  &__count {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-average {
      font-size: 2.2rem;
      font-weight: 300;
      margin-bottom: -3px;
      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
    }

    &-count {
      text-transform: uppercase;
      font-size: 0.8rem;
      @media only screen and (max-width: $bp-small) {
        font-size: 0.5rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem;
    }
  }
}

.user {
    display: flex;
    justify-content: flex-start;
    &-explore {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid var(--color-grey-light-3);
        padding: 1rem .5rem;
        align-items: center;
        &:hover{
          background-color: whitesmoke;
        }
    }
    &-img {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
    &-username {
        font-weight: 700;
    }
    &-detail {
        font-weight: 200;
    }
    &-acc {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        justify-content: center;
    }
}

.btn {
  &-follow {
    transform: scale(.8);
    border-radius: 100px;
    box-shadow: 0 0.2rem 0rem var(--color-secondary);
    border: .5px solid var(--color-secondary);
    padding: 0rem 2rem;
    vertical-align: middle;
    color: var(--color-secondary-dark);
    display: inline-block;
    cursor: pointer;
    height: 3rem;
    font-size: 1.6rem;
    background-color: white;
    outline: none;
    transition: .2s all;
    display: inline-block;
    .bold {
      font-weight: 900;
      padding-right: .3rem;
    }
    &:hover {
      box-shadow: 0 -0.2rem 0rem var(--color-secondary);
      transform: scale(.85);
    }
    &:active {
      transform: scale(.8);
    }
    &-following {
      box-shadow: none;
      border: .5px solid var(--color-grey-dark-3);
      color: var(--color-grey-dark-3);
      text-align: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      width: 10rem;
      & > * {

        display: inline-block;
        transition: all 0.2s;
        height: 100%;
        width: 100%;
      }
      &__visible {
        padding: 1.5rem 0rem;
        margin-top: -2rem;
        margin-left: -3rem;
      }
      &__invisible {
        position: absolute;
        padding: 1.5rem 0;
        left: 0;
        top: -100%;
        margin-top: -1rem;
        color: var(--color-secondary);
      }
      &:hover {
        box-shadow: none;
        border: .5px solid var(--color-secondary);
      }
      &:hover &__invisible {
        top: 0;
      }
      &:hover &__visible {
        transform: translateY(100%);
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.activity {
    border: none;
    outline: none;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-grey-light-4);
    box-shadow: 0 .2rem .5rem rgba(#9c9c9c, .2);
    &:hover {
        background-color: var(--color-grey-light-1);
    }
    &-non {
        max-width: 100%;
        max-height: 100%;
        align-self: center;
        margin: auto;
        justify-self: center;
    }
    &-top {
        display: flex;
        justify-content: space-between;
    }
    &-see-more {
        color: var(--color-secondary-dark);
        transition: .2s all;
        display: flex;
        align-self: flex-end;
        align-items: center;
        font-size: 1.4rem;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        &:hover {
            color: var(--color-primary);
            transform: scale(1.05);
        }
        &:active {
            color: var(--color-primary);
            transform: scale(1);
        }
        &.side {
            &-1 {
                font-size: 1.1rem;
                color: var(--color-primary);
                transition: .2s all;
                &:hover {
                    color: var(--color-secondary);
                    transform: scale(1.05);
                }
                &:active {
                    transform: scale(1);
                }
            }
            &-2 {
                font-size: 1.1rem;
                margin:1rem auto 0rem auto
            }
        }
    }
    &-by {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        padding-bottom: .5rem;
    }
    &-detail {
        color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 10px;
        padding-left: 6rem;
        &__username {
            font-size: 2rem;
        }
        &__box {
            margin-top: .5rem;
            background-color: var(--color-grey-light-2);
            border-radius: 10px;
            padding: 1rem;
            display: flex;
            &:hover {
                box-shadow: 0rem 0rem 1rem rgba(black, .3);
            }
        }
        &__img {
            height: 5rem;
            border-radius: 10px;
        }
    }
    &-time {
        align-self: center;
        font-size: 1rem;
        span {
            margin: 0rem 2rem;
        }
    }
}

.days{
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  color: white;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: .5rem 1.5rem;
  &-num{
    font-size: 3rem;
    text-align: center;
  }
}
