
<main class='top-view'>
  <div class="overview" >
    <h1 class="overview__heading">
      <mat-icon
        color="primary"
        style="display: inline-flex; vertical-align: middle;"
        >rss_feed</mat-icon
      >
      News feed
    </h1>

    <div class="overview__count">
      <div class="overview__count-average">3.5</div>
      <div class="overview__count-count">Overall Rating</div>
    </div>
  </div>

  <div *ngIf="!isLoaded" class="spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="detail" *ngIf="isLoaded">
    <div class="description-main">
      <!--<img class="activity-non" src="../../../assets/img/no_activities.png" alt="">-->
      <div class="activity" *ngIf="news_feed.length === 0">
        <div class="activity-detail">
          Nothing's new!
        </div>
      </div>
      <div class="activity" *ngFor="let feed of news_feed">
        <div class="activity-top">
          <div class="activity-by">
            <div class="activity-owner">
              <div class="user">
                <img
                  class="user-img"
                  src="../../../assets/img/user/{{feed.name.toLowerCase().charAt(0) + '.png'}}"
                  alt=""
                />
                <div class="user-acc">
                  <span class="user-username activity-detail__username"
                    >{{feed.name}}</span
                  >
                </div>
              </div>
            </div>
            <div class="activity-time"><span>&bull;</span>{{feed.ago}}</div>
          </div>
        </div>
        <div class="activity-detail" [innerHTML]="feed.message">
          <p>Just {{ feed.message }}!</p>
        </div>
        <button class="activity-see-more" [routerLink]="'/' + feed.activity.collection_name + '/item/' + feed.activity.details.split('/')[1]">
          See more<mat-icon>arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="description-side">
      <div class="description-side__sub">
        <h1>Up comming :</h1>
        <div class="user-explore">
          <div class="user">
            <div class="days" *ngIf="latest_event">
              <div class="days-num">{{latest_event.days}}</div>
              days
            </div>
            <div class="days" *ngIf="!latest_event">
              <div class="days-num">-</div>
            </div>
            <div class="user-acc" *ngIf="latest_event">
              <span class="user-username">{{latest_event.title}}</span>
              <span class="user-detail">Starts at : {{latest_event.startTime }}</span>
              <span class="user-detail" *ngIf="latest_event.endTime">Ends at : {{latest_event.endTime}}</span>
            </div>
            <div class="user-acc" *ngIf="!latest_event">
              <span class="user-username">No upcoming Event!</span>
            </div>

          </div>
        </div>
        <button class="activity-see-more side-2" routerLink="/countdown">
          See more<mat-icon>arrow_right</mat-icon>
        </button>
      </div>

      <div class="description-side__sub">
        <h1>Trending :</h1>


        <div class="user-explore" *ngIf="isLoaded">
          <div class="user">
            <img class="user-img" src="../../../assets/img/quiz.png" alt="" />
            <div class="user-acc">
              <span class="user-username">{{trending['quiz'].data.title || 'Some title'}}</span>
              <span class="user-detail">Created by : {{trending['quiz'].author}}</span>
            </div>
          </div>
          <button class="activity-see-more side-1" routerLink="/quiz/item/{{trending['quiz'].data._id}}">
            See more<mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        <div class="user-explore" *ngIf="isLoaded">
          <div class="user">
            <img
              class="user-img"
              src="../../../assets/img/flashcard.png"
              alt=""
            />
            <div class="user-acc">
              <span class="user-username">{{trending['flashcard'].data.title || 'Some title'}}</span>
              <span class="user-detail">Created by : {{trending['flashcard'].author}}</span>
            </div>
          </div>
          <button class="activity-see-more side-1" routerLink="/flash/item/{{trending['flashcard'].data._id}}">
            See more<mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        <div class="user-explore" *ngIf="isLoaded">
          <div class="user">
            <img class="user-img" src="../../../assets/img/note.png" alt="" />
            <div class="user-acc">
              <span class="user-username">{{trending['note'].data.title}}</span>
              <span class="user-detail">Created by : {{trending['note'].author}}</span>
            </div>
          </div>
          <button class="activity-see-more side-1" routerLink="/note/item/{{trending['note'].data._id}}">
            See more<mat-icon>arrow_right</mat-icon>
          </button>
        </div>
      </div>

      <div class="description-side__sub">
        <h1>Who to follow :</h1>
        <div class="user-explore" *ngFor="let user of top_users">
          <div class="user">
            <img
              class="user-img"
              [src]="user.url"
              alt=""
            />
            <div class="user-acc">
              <span class="user-username">{{ user.name }}</span>
              <span class="user-detail">small detail</span>
            </div>
          </div>
          <button
            mat-button
            matTooltip="Follow"
            class="btn-follow"
            *ngIf="!user.followed && !isYourself(user.id)"
            (click)="onFollow(user.id)"
          >
            <span class="bold">+</span>Follow
          </button>
          <button
            mat-button
            matTooltip="Unfollow"
            class="btn-follow btn-follow-following"
            *ngIf="user.followed && !isYourself(user._id)"
            (click)="onUnfollow(user._id)"
          >
            <span class="btn-follow-following__visible">
              &#10004;&nbsp;Following</span
            >
            <span class="btn-follow-following__invisible"
              >&#10006;&nbsp;Unfollow</span
            >
          </button>
        </div>

        <button (click)="search_dialog()" class="activity-see-more side-2">
          <mat-icon>search</mat-icon>Search
        </button>
      </div>
    </div>
  </div>
</main>
