<main class="top-view">
  <div class="overview">
    <h1 class="overview__heading">
      <mat-icon
        color="primary"
        style="display: inline-flex; vertical-align: middle;"
      >style
      </mat-icon>
      Flashcards
    </h1>
    <div class="overview__count">
      <div class="overview__count-average">{{ number_collection }}</div>
      <div class="overview__count-count">Collection</div>
    </div>
  </div>

  <div class="detail">
    <div class="detail-sub">
      <div class="description sub__1">
        <div class="feature-heading">
          <h1>Flashcard</h1>
          <button mat-button matTooltip="See how it works!" (click)="onOpenVideo()"><i class="far fa-play-circle"></i>
          </button>
        </div>
        <div class="feature-description">
          Flashcards may have a reputation as being one of the most boring ways
          to study. But there’s a reason that flashcards have been a preferred
          study method for hundreds of years!

          <h2>Why Flashcards Help Us Learn?</h2>
          <div class="feature-description__help">
            <ul>
              <li>Flashcards engage “active recall”</li>
              <li>Flashcards utilize your metacognitive faculties</li>
              <li>Flashcards allow for confidence-based repetition</li>
            </ul>
          </div>
        </div>
        <a onclick="scroll_to_div('flashcardTable')" class="feature__btn">Discover More</a>
      </div>
      <div class="description sub__2">
        <h1>Flashcard on trend :</h1>
        <div class="user-explore">
          <div class="user">
            <img
              class="user-img"
              src="../../../assets/img/flashcard.png"
              alt=""
            />
            <div class="user-acc">
              <div>
                <span class="user-username">Flashcard</span>
              </div>

              <span class="user-detail">Created by : Creator</span>
            </div>
          </div>
          <button class="btn-see-more side-1">
            See more
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        <div class="user-explore">
          <div class="user">
            <img
              class="user-img"
              src="../../../assets/img/flashcard.png"
              alt=""
            />
            <div class="user-acc">
              <span class="user-username">Flashcard</span>
              <span class="user-detail">Created by : Creator</span>
            </div>
          </div>
          <button class="btn-see-more side-1">
            See more
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        <div class="user-explore">
          <div class="user">
            <img
              class="user-img"
              src="../../../assets/img/flashcard.png"
              alt=""
            />
            <div class="user-acc">
              <span class="user-username">Flashcard</span>
              <span class="user-detail">Created by : Creator</span>
            </div>
          </div>
          <button class="btn-see-more side-1">
            See more
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        <div class="user-explore">
          <div class="user">
            <img
              class="user-img"
              src="../../../assets/img/flashcard.png"
              alt=""
            />
            <div class="user-acc">
              <span class="user-username">Flashcard</span>
              <span class="user-detail">Created by : Creator</span>
            </div>
          </div>
          <button class="btn-see-more side-1">
            See more
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoaded" class="spinner">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div id="flashcardTable"  [ngClass]="isLoaded ? 'description' : 'hidden'">
      <div class="description-btn_set">
        <div class="description__flex-start">
          <form action="#" class="search">
            <input
              (keyup)="applyFilter($event.target.value)"
              type="text"
              class="search__input"
              placeholder="Search for collection name, author"
            />
            <button class="search__button">
              <mat-icon
                class="search__icon"
                matTooltip="Search by keyword"
                color="primary"
              >search
              </mat-icon
              >
            </button>
          </form>
          <button
            mat-raised-button
            matTooltip="All Public Flashcard collection appears here!"
            class="description__flex-start__info"
          >
            <i class="fas fa-info-circle"></i>
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            matTooltip="Create new collection of Flashcard"
            class="btn-my"
            mat-button
            (click)="onMyFlashcard()"
          >
            My Flashcard
          </button>
        </div>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 tableOfCollection"
      >
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Collection Name
          </th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Author
          </th>
          <td mat-cell *matCellDef="let element" class="author-name ">
            <i class="fas fa-pencil-alt o"></i>&nbsp;{{ element.author }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element">
            {{
            element.description.length > 50
              ? (element.description | slice: 0:50) + " ....."
              : element.description
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
          <td mat-cell *matCellDef="let element">
            <form #form="ngForm">
              <bar-rating
                [rate]="element.rating"
                [max]="5"
                [theme]="'fontawesome-o'"
                color="primary"
              ></bar-rating>
            </form>
          </td>
        </ng-container>

        <ng-container matColumnDef="dom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Last updated
          </th>
          <td mat-cell *matCellDef="let element">{{ element.daysUpdated }}</td>
        </ng-container>

        <ng-container matColumnDef="views">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Views</th>
          <td mat-cell *matCellDef="let element">{{ element.views }}</td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="getDisplayedColumn()"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: getDisplayedColumn()"
          (click)="onRowClick(row)"
        ></tr>
      </table>
      <mat-paginator class="paginator" [length]="number_collection" [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</main>


<!--<app-add-card></app-add-card>-->
<!--<app-collection></app-collection>-->
