$bp-largest: 75em; //1200px  (1200/16)
$bp-large: 68.25em; //1100px  (1100/16)
$bp-medium: 65.25em; //900px  (900/16)
$bp-small: 37.5em; //600px  (600/16)
$bp-smallest: 31.25em; //500px  (500/16)
.top-view {
  background-color: var(--color-grey-light-1);
  flex: 1;
  @media only screen and (max-width: 1400px) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-largest) {
    margin-left: 4rem;
  }
  @media only screen and (max-width: $bp-large) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: 1044px) {
    margin-left: 0rem;
  }
}

.detail {
  display: flex;
  padding: 2rem 3rem;
  border-bottom: var(--line);
  font-size: 1.4rem;
  flex-direction: column;
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    padding: 2rem;
  }
  @media only screen and (max-width: 370px) {
    padding: .5rem;
  }

  &-sub {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }
}

.description {
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 1;
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  &.sub {
    &__1 {
      flex: 0 0 65%;
      margin: 1rem 1rem 1rem 0rem;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: $bp-medium) {
        margin: 0rem 0rem 1rem 0rem;
      }
    }

    &__2 {
      flex: 1;
      margin: 1rem 0rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: $bp-medium) {
        margin: 1rem 0rem 2rem 0rem;
      }
    }
  }

  &-btn_set {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &-right {
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: $bp-smallest) {
        justify-content: center;
        margin: 1rem 0 0 0;
      }
    }
  }

  &__flex-start {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    &__info {
      color: var(--color-primary);
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 2rem;
      margin-left: 1rem;
      transition: .2s all;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.user-reviews {
  flex: 1; // remaining space;
  display: flex;
  flex-direction: column;
  align-items: center;
}

///////////////Overview///////////////
.overview {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--line);
  align-items: center;
  background-color: #fff;
  margin-top: 7rem;
  padding-left: 2rem;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 6rem;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
    @media only screen and (max-width: $bp-large) {
      padding: 1.5rem 6rem;
    }
    @media only screen and (max-width: $bp-largest) {
      padding: 1.5rem 6rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    font-size: 0.5rem;
  }

  &__count {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-average {
      font-size: 2.2rem;
      font-weight: 300;
      margin-bottom: -3px;
      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
    }

    &-count {
      text-transform: uppercase;
      font-size: 0.8rem;
      @media only screen and (max-width: $bp-small) {
        font-size: 0.5rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem;
    }
  }
}

///////////////button-inline///////////////
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    & span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

///////////////Paragraph///////////////
.paragraph {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

///////////////List///////////////
.list {
  margin: 3rem 0;
  padding: 3rem 0;
  list-style: none;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 0.7rem;
    flex: 0 0 50%;

    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      display: inline-block; //oder browser
      background-image: url(/assets/img/chevron-thin-right.svg);
      background-size: cover;
      @supports (-webkit-mask-image: url()) or (mask-size: url()) {
        background-color: var(--color-primary);
        -webkit-mask-image: url(/assets/img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(/assets/img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none;
      }
    }
  }
}

///////////////Recommend///////////////
.recommned {
  font-size: 1.3rem;
  color: var(--color-grey-derk-3);
  display: flex;
  align-items: center;

  &__count {
    margin-right: auto;
  }

  &__friend {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid white;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

///////////////Review///////////////
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;

    &-box {
      margin-right: auto;
    }

    &-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }

    &-date {
      font-size: 1rem;
      color: var(--color-grey-derk-3);
    }
  }

  &__photo {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 1.5rem;
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}

///////////////Call to action///////////////
.cta {
  padding: 3.5rem 0;
  text-align: center;
  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    transition: all 0.2s;
    height: 100%;
    width: 100%;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }

  &:hover &__invisible {
    top: 0;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }

  &-create {
    background-image: linear-gradient(to bottom left, rgb(93, 163, 1), rgb(6, 167, 6));
    color: white;
    margin-right: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
    display: block;

    &:hover {
      box-shadow: 0 .5rem 1rem rgba(black, .2);
      transform: scale(1.1);
    }

    &:active {
      box-shadow: 0 .5rem .5rem rgba(black, .3);
      transform: scale(1);
    }
  }

  &-my {
    background-color: var(--color-primary);
    color: white;
    margin-right: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
    display: block;
    width: 100%;
    @media only screen and (max-width: 550px) {
      //width: 120%;
      //margin-left: -2rem;
    }


    &:hover {
      box-shadow: 0 .5rem 1rem rgba(black, .2);
      transform: scale(1.1);
    }

    &:active {
      box-shadow: 0 .5rem .5rem rgba(black, .3);
      transform: scale(1);
    }
  }

  &-edit {
    background-image: linear-gradient(to bottom left, var(--color-grey-dark-3), rgb(131, 131, 131));
    color: white;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
    display: block;

    &:hover {
      box-shadow: 0 .5rem 1rem rgba(black, .2);
      transform: scale(1.1);
    }

    &:active {
      box-shadow: 0 .5rem .5rem rgba(black, .3);
      transform: scale(1);
    }
  }

  &-delete {
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(161, 0, 0);
    cursor: pointer;
    transition: .2s all;

    &:hover {
      transform: scale(1.05);
    }

    &:hover {
      transform: scale(1);
    }
  }
}

.cross {
  color: var(--color-grey-dark-1);
  display: block;
  position: relative;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 2rem;
  transition: all 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active,
  &:visited {
    transform: scale(1);
  }
}

table {
  width: 100%;
  @media only screen and (max-width: 375px) {
    margin-left: -.6rem;
  }
  @media only screen and (max-width: 360px) {
    margin-left: 0rem;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

tr.mat-row.ng-star-inserted {
  cursor: pointer;
  transition: .2s all;

  &:hover {
    background-color: var(--color-grey-light-2);
  }

  &:active {
    background-color: var(--color-grey-light-3);
  }
}

td.mat-cell:not(:nth-of-type(2)),
td.mat-footer-cell:not(:nth-of-type(2)),
th.mat-header-cell:not(:nth-of-type(2)) {
  text-align: center;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  text-align: left;
}

.search {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 820px) {
    flex: 0 0 40%;
  }
  @media only screen and (max-width: 700px) {
    flex: 0 0 50%;
  }
  @media only screen and (max-width: 550px) {
    flex: 0 0 70%;
  }


  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 100%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.author-name {
  i {
    color: var(--color-primary);
  }
}

.feature {
  &__btn {
    background-color: var(--color-primary) !important;
    border-radius: 100px;
    border: none;
    padding: .5rem 1rem;
    color: white;
    margin: auto;
    cursor: pointer;
    transition: .2s all;
    font-size: 1.3rem;
    text-decoration: none;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(.95);
    }
  }

  &-img {
    display: block;
    position: absolute;
    height: 4rem;
    width: 4rem;
  }

  &-heading {
    display: flex;
    justify-content: center;
    color: var(--color-primary);

    h1 {
      color: var(--color-primary);
      font-size: 5rem;
      text-align: center;

      &:hover {
        animation: heartBeat 2s infinite;
      }
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      i {
        align-self: center;
        font-size: 3rem;
        padding: 0rem 1rem;
        color: var(--color-primary);
      }

      transition: .2s all;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(.95);
      }
    }
  }

  &-description {
    margin: 1rem 0;
    font-size: 1.75rem;
    color: black;
    text-align: justify;

    h2 {
      color: var(--color-secondary);
      margin: .5rem 0;
      display: block;
      transition: .2s all;

      &:hover {
        transform: scale(1.05);
      }
    }

    &__help {
      margin-left: 1rem;

      ul {
        li {
          list-style-type: none;
          display: block;
          transition: .2s all;

          &::before {
            content: "\f0da";
            font-family: "FontAwesome";
            margin: 0rem 1rem 0 2rem;
          }

          &:hover {
            transform: translateX(1.5rem);
            color: var(--color-primary);
          }
        }
      }
    }
  }
}

.user {
  display: flex;
  justify-content: flex-start;

  &-explore {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-grey-light-3);
    padding: 1rem .5rem;
    align-items: center;

    &:hover {
      background-color: whitesmoke;
    }
  }

  &-img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }

  &-username {
    font-weight: 700;
  }

  &-detail {
    font-weight: 200;
  }

  &-acc {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
  }
}

.btn-see-more {
  color: var(--color-secondary-dark);
  transition: .2s all;
  display: flex;
  align-self: flex-end;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    color: var(--color-primary);
    transform: scale(1.05);
  }

  &:active {
    color: var(--color-primary);
    transform: scale(1);
  }

  &.side {
    &-1 {
      font-size: 1.1rem;
      color: var(--color-primary);
      transition: .2s all;
      text-decoration: none;

      &:hover {
        color: var(--color-secondary);
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
}

.o::before {
  color: var(--color-primary) !important;
}

.hidden {
  display: none;
}

.tableOfCollection {
  @media only screen and (max-width: 570px) {
    transform: scale(.98);
  }
  @media only screen and (max-width: 550px) {
    transform: scale(0.9);
    margin-left: -.5rem;
  }
  @media only screen and (max-width: 530px) {
    margin-left: -2rem;
    //margin-top: -2rem;
  }
  @media only screen and (max-width: 515px) {
    margin-left: -2.6rem;
  }
  @media only screen and (max-width: 500px) {
    margin-left: -3.7rem;
    transform: scale(.86);
  }
  @media only screen and (max-width: 482px) {
    margin-left: -4.7rem;
    transform: scale(0.84);
    //margin-top: -4.5rem;
  }
  @media only screen and (max-width: 465px) {
    margin-left: -5.3rem;
    transform: scale(0.80);
    //margin-top: -4.5rem;
  }
  @media only screen and (max-width: 460px) {
    margin-left: -6.3rem;
    transform: scale(0.7);
    //margin-top: -8rem;
  }
  @media only screen and (max-width: 430px) {
    margin-left: -7.3rem;
    //margin-top: -9rem;
  }
  @media only screen and (max-width: 415px) {
    margin-left: -8rem;

  }
  @media only screen and (max-width: 400px) {
    transform: scale(.66);
    margin-left: -9rem;
  }
  @media only screen and (max-width: 385px) {
    transform: scale(0.63);
    margin-left: -9rem;
    //margin-top: -11rem;
  }
  @media only screen and (max-width: 375px) {
    transform: scale(0.63);
    margin-left: -10.5rem;
    margin-top: -4rem;
  }
  @media only screen and (max-width: 360px) {
    transform: scale(0.63);
    margin-left: -9.5rem;
    margin-top: -4rem;
  }
  @media only screen and (max-width: 320px) {
    transform: scale(0.6);
    margin-left: -11.5rem;
  }
}




