<div class="header-fixed">
  <header class="header">
    <a routerLink="/home"><img src="assets/img/minerva_1.png" class="logo" alt="minerva logo"/></a>


    <nav class="user-nav">


      <div (click)="search_dialog()" class="follow" *ngIf="isAuth">
        <div class="follow__container">
          <div class="follow__no">{{follower}}</div>
          <div class="follow__text">Followers</div>
        </div>
        <div (click)="search_dialog()" class="follow__container">
          <div class="follow__no">{{ following }}</div>
          <div class="follow__text">Following</div>
        </div>
      </div>

      <button class="user-nav__icon-box" *ngIf="isAuth" [matMenuTriggerFor]="notificationBtn" (menuClosed)="onRead()">
        <mat-icon matBadge="{{notification.length > 0 ? notification.length : ''}}" matBadgeColor="primary" matBadgeSize="medium" style="color: var(--color-grey-dark-2);" >
          notifications_active
        </mat-icon>
        <mat-menu #notificationBtn="matMenu" >
          <button mat-menu-item class="notification" *ngFor="let noti of notification" [routerLink]="noti.link">
            <div class="notification-btn">

              <i [ngClass]="noti.to === 'you' ? 'fas fa-user-plus notification-icon' : 'fas fa-upload notification-icon'"></i>
              <p style="display: flex; flex-direction: column; ">
                <span class="notification-user">{{noti.user}}</span>
                <span class="notification-action">{{noti.action + noti.to}}</span>
                <span class="notification-time">{{noti.days}}</span>
              </p>
            </div>
          </button>
          <button mat-menu-item class="notification">
            <div class="notification-btn">

              <p style="display: flex; flex-direction: column; ">
                <span class="notification-user">Nothing's new!</span>

              </p>
            </div>
          </button>
          <button mat-menu-item class="notification">
            <div class="notification-btn">
              <i class="far fa-calendar-alt notification-icon"></i>
              <p class="notification-p">
                <span class="notification-user">Event Remainder</span>
                <span class="notification-action">Math Exam</span>
                <span class="notification-time">Today</span>
              </p>
            </div>
          </button>


          <a mat-menu-item class="notification-seeall" routerLink="/home"><span>See all</span></a>
        </mat-menu>
      </button>
      <!--<div class="user-nav__icon-box" *ngIf="isAuth">
        <mat-icon>notifications</mat-icon>
      </div>-->


      <!--<button mat-button (click)="onClear()" *ngIf="isAuth" class="no-hover">Clear</button>-->
      <button mat-button (click)="logIn_dialog()" class="btn btn__login" *ngIf="!isAuth">Log in</button>
      <button mat-button (click)="signUp_dialog()" class="btn btn__signup" *ngIf="!isAuth">Sign up</button>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="user-nav__user" *ngIf="isAuth">
        <img
          [src]="imgUrl"
          alt="User photo"
          class="user-nav__user-photo"
        />
        <!--&lt;!&ndash;<img&ndash;&gt;-->
        <!--src="../../assets/img/user/c.png"-->
        <!--alt="User photo"-->
        <!--class="user-nav__user-photo"-->
        <!--/>-->
        <span class="user-nav__username user-nav__username1" *ngIf="isAuth">{{getUser()}}</span>
        <mat-menu #menu="matMenu">
          <span class="user-nav__username" *ngIf="isAuth">{{getUser()}}</span>
          <button mat-menu-item routerLink="/home" class="user-nav__menu">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button mat-menu-item *ngIf="isLogin()" class="user-nav__menu" routerLink="/acc">
            <mat-icon>account_circle</mat-icon>
            <span>Account Setting</span>
          </button>
          <button mat-menu-item class="user-nav__menu" (click)="openHelpSnackBar()">
            <mat-icon>help</mat-icon>
            <span>Help</span>
          </button>
          <button mat-menu-item (click)="onLogout()" *ngIf="isAuth" class="user-nav__menu">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log Out</span>
          </button>
        </mat-menu>
      </button>
    </nav>
  </header>
</div>
