$bp-largest: 75em; //1200px  (1200/16)
$bp-large: 68.25em; //1100px  (1100/16)
$bp-medium: 65.25em; //900px  (900/16)
$bp-small: 37.5em; //600px  (600/16)
$bp-smallest: 31.25em; //500px  (500/16)
.top-view {
  background-color: var(--color-grey-light-1);
  flex: 1;
  @media only screen and (max-width: 1400px) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-largest) {
    margin-left: 4rem;
  }
  @media only screen and (max-width: $bp-large) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: 1044px) {
    margin-left: 0rem;
  }
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  font-size: 1.4rem;
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 1;
  flex-direction: row;
  height: 100%;
  margin-top: -1rem;
  @media only screen and (max-width: 87.5em) {
    width: 60rem;
  }
  @media only screen and (max-width: $bp-largest) {
    width: 60rem;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    font-size: .4rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
    width: 100%;
  }

  &-btn_set {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  &__area {
    margin: 1rem;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-between;


    &-p {
      word-wrap: break-word;
      width: 70rem;

      @media only screen and (max-width: $bp-small) {
        width: 40rem;
      }
      @media only screen and (max-width: 430px) {
        width: 37rem;
      }
      @media only screen and (max-width: 320px) {
        width: 25rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      flex-flow: column-reverse;
      align-items: center;
    }
  }
}

.overview {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--line);
  align-items: center;
  background-color: #fff;
  margin-top: 7rem;
  padding-left: 2rem;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 6rem;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
    @media only screen and (max-width: $bp-large) {
      padding: 1.5rem 6rem;
    }
    @media only screen and (max-width: $bp-largest) {
      padding: 1.5rem 6rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    font-size: 0.5rem;
  }

  &__count {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-average {
      font-size: 2.2rem;
      font-weight: 300;
      margin-bottom: -3px;
      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
    }

    &-count {
      text-transform: uppercase;
      font-size: 0.8rem;
      @media only screen and (max-width: $bp-small) {
        font-size: 0.5rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem;
    }
  }

  &__right {
    display: flex;
  }
}

.flashcard {
  &__container {
    //background-color:var(--color-grey-light-5);
    width: 100%;
    height: 40rem; //box-shadow: 0 .6rem 2rem rgba(#777777, .4);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media only screen and (max-width: $bp-small) {
      transform: translateY(-3rem);
    }
    @media only screen and (max-width: $bp-smallest) {
      transform: translateY(0rem);
    }

    &-bottom {
      background-color: var(--color-grey-light-1);
      display: flex;
      justify-content: center;
      padding: 2rem 0.5rem;
      align-items: center;
    }
  }

  &-card {
    width: 30rem;
  }
}

.icon-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem;
  display: block;
  border-radius: 50%;
  transition: 0.2s ease-out;

  &:active,
  &:visited {
    background-color: rgba(#ffa000, 0.3);
    transform: scale(0.8);
  }

  &:hover {
    background-color: rgba(#ffa000, 0.2);
  }
}

.btn {
  &-edit {
    color: var(--color-primary);
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    transition: all 0.2s;
    font-size: 1.5rem;
    text-shadow: 0 0.5rem 0.5rem rgba(black, 0.1);
    margin: auto;
    font-weight: 500;
    align-self: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
      text-shadow: 0 0.5rem 0.5rem rgba(black, 0.3);
    }

    @media only screen and (max-width: $bp-small) {
      align-self: flex-end;
    }
  }

  &-follow {
    transform: scale(.7);
    border-radius: 100px;
    box-shadow: 0 0.2rem 0rem var(--color-secondary);
    border: .5px solid var(--color-secondary);
    padding: 0rem 2rem;
    vertical-align: middle;
    color: var(--color-secondary-dark);
    display: inline-block;
    cursor: pointer;
    height: 3rem;
    font-size: 1.6rem;
    background-color: white;
    outline: none;
    transition: .2s all;
    display: inline-block;

    .bold {
      font-weight: 900;
      padding-right: .3rem;
    }

    &:hover {
      box-shadow: 0 -0.2rem 0rem var(--color-secondary);
      transform: scale(.75);
    }

    &:active {
      transform: scale(.69);
    }

    &-following {
      box-shadow: none;
      border: .5px solid var(--color-grey-dark-3);
      color: var(--color-grey-dark-3);
      text-align: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      width: 10rem;

      & > * {
        display: inline-block;
        transition: all 0.2s;
        height: 100%;
        width: 100%;
      }

      &__visible {
        padding: 1.5rem 0rem;
        margin-top: -2rem;
        margin-left: -3rem;
      }

      &__invisible {
        position: absolute;
        padding: 1.5rem 0;
        left: 0;
        top: -100%;
        margin-top: -1rem;
        color: var(--color-secondary);
      }

      &:hover {
        box-shadow: none;
        border: .5px solid var(--color-secondary);
        transform: scale(.75);
      }

      &:hover &__invisible {
        top: 0;
      }

      &:hover &__visible {
        transform: translateY(100%);
      }

      &:focus {
        outline: none;
        /*animation: pulsate 1s infinite;*/
      }
    }
  }
}

.no-card {
  width: 45rem;
  height: 25rem;
  background-color: var(--color-grey-light-3);
  color: var(--color-grey-dark-3);
  text-align: center;
  box-shadow: 0.5rem 0.5rem 2rem rgba(black, 0.1);
  margin: auto;
  padding: 8rem;

  @media only screen and (max-width: $bp-small) {
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: $bp-smallest) {
    width: 20rem;
    height: 30rem;
    margin-bottom: 2rem;
  }
  h1 {
    text-align: center;
  }

  &__btn {
    border-radius: 100px;
    background-image: linear-gradient(to right bottom, rgba(#ffa000, 0.9), rgba(rgb(255, 174, 0), 0.9));
    color: white;
    margin: auto;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 .5rem 1.5rem rgba(black, 0.1);
    }

    &:active {
      transform: scale(1);
      box-shadow: 0 .5rem 1rem rgba(black, 0.3);
    }
  }
}

.card {
  margin: auto;
  perspective: 1500rem;
  -webkit-perspective: 1500rem;
  position: relative;

  & > * {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 2rem rgba(black, 0.1);
    border-radius: 8px;
    transition: 2s cubic-bezier(0.08, 1.01, 0.26, 1);
    width: 45rem;
    height: 25rem;
    backface-visibility: hidden;
    @media only screen and (max-width: $bp-small) {
      width: 30rem;
      height: 20rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      width: 20rem;
      height: 30rem;
      margin-bottom: 2rem;
    }
  }

  &-front {
    background-image: linear-gradient(to right bottom, rgba(#ffa000, 0.9), rgba(rgb(255, 174, 0), 0.9));
    color: white;
    font-size: 4rem;
    font-weight: 500;
  }

  &-back {
    background-color: var(--color-grey-light-1);
    transform: rotateX(180deg);
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    @media only screen and (max-width: $bp-smallest) {
      transform: rotateY(180deg);
    }
  }

  &:hover &-front {
    transform: rotateX(180deg);
    @media only screen and (max-width: $bp-smallest) {
      transform: rotateY(180deg);
    }
  }

  &:hover &-back {
    transform: rotateX(0deg);
    @media only screen and (max-width: $bp-smallest) {
      transform: rotateY(0deg);
    }
  }
}

@keyframes bg {
  0% {
    background-color: rgba(#ffa000, 0.1);
    transform: scale(1);
  }
  100% {
    background-color: rgba(#ffa000, 0.1);
    transform: scale(1.3);
  }
}

%animation-default {
  opacity: 1 !important;
  z-index: 100;
}

@mixin carousel($items, $animation: "default") {
  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;

    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {
        ~ .carousel__items .carousel__item,
        ~ .carousel__prev > label,
        ~ .carousel__next > label {
          opacity: 0;
        }
      }

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel__items .carousel__item {
              @if $animation=="default" {
                &:nth-child(#{$i}) {
                  opacity: 1;
                  z-index: ($i + 1);
                }
              }
            }

            ~ .carousel__prev {
              > label {
                @if $i==1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                } @else if $i==$items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__next {
              > label {
                @if $i==$items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }
          }
        }
      }
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 600px;
      position: relative;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity .8s;
      -webkit-transition: opacity .8s;
    }

    &__prev,
    &__next {
      > label {
        border-radius: 50%;
        padding-top: .5rem;
        cursor: pointer;
        /*display: block;*/
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 50%;
        /*transform: translateY(-50%);
-webkit-transform: translateY(-50%);*/
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease-out;
        opacity: 0;
        color: var(--color-primary);
        background-color: transparent;
        text-align: center;
        border: 1px solid var(--color-primary);
        outline: none;

        &:hover {
          border: 2px solid var(--color-primary);
        }
      }
    }

    &__prev {
      > label {
        left: 2%;
      }
    }

    &__next {
      > label {
        right: 2%;
      }
    }
  }
}

.container {
  width: 900px;
  min-width: 900px;
  margin: 50px auto;
}

@include carousel(100);
.rate {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.rating {
  align-self: flex-start;

  &__text {
    margin-top: -1.5rem;
    text-align: center;
  }

  @media only screen and (max-width: $bp-small) {
    align-self: center;
  }
}

.follow {
  text-align: center;
  padding: .7rem 0rem !important;
  align-content: center;
  justify-content: center;
  margin: auto;

  &__container {
    margin: auto .5rem;
    padding: 0 .5rem;
    display: block;

    &:hover,
    &:visited {
      transform: scale(1.05);
      border-radius: 5px;
    }
  }

  &__text {
    font-style: italic;
  }

  &__no {
    color: var(--color-primary);
    font-size: 2.2rem;
  }
}
