<main class="top-view" >
  <div class="overview">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Back to flashcards"
      class="icon-btn"
      (click)="onClickBack()"
    >
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <h1 class="overview__heading">{{ title }}</h1>
    <div class="overview__right">
      <div class="follow">
        <div class="follow__container">
          <div class="follow__no">{{ views }}</div>
          <div class="follow__text">Views</div>
        </div>
      </div>
      <div class="overview__count">
        <div class="overview__count-average">{{ numberOfCard }}</div>
        <div class="overview__count-count">Cards</div>
      </div>
    </div>
  </div>
  <div class="detail" *ngIf="isLoading">
    <mat-progress-spinner style="margin: 0 auto;" mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="detail" *ngIf="!isLoading">
    <div class="description">
      <div class="description__area">
        <section class="rating">
          <bar-rating
            [rate]="faoRate"
            (rateChange)="onFaoRate($event)"
            [disabled]="isCreator()"
            [max]="5"
            [theme]="'fontawesome-o'"
            color="primary"
          ></bar-rating>
          <!--<bar-rating [ngModel]="faoRate" (ngModelChange)="onFaoRate($event)" [max]="5" [theme]="'fontawesome-o'"></bar-rating>-->
          <p *ngIf="!faoRated" class="rating__text">
            Current rating: {{ faoRate }}
          </p>
          <p *ngIf="faoRated" class="rating__text">
            Your rating: {{ faoRate }}
            <i class="link fa fa-times-circle" (click)="faoReset(5.6)"></i>
          </p>
        </section>
        <p class="description__area-p">{{ desc }}</p>
        <div>
          <button mat-button (click)="openEditCardDialog()" class="btn-edit" *ngIf="isCreator()">
            Edit
          </button>
          <div class="btn-follow_group" *ngIf="!isCreator()">
            <button mat-button class="btn-edit" >
              Created by <br />
              {{ creatorName }}
            </button>
            <button mat-button matTooltip="Follow Creator" class="btn-follow" *ngIf="!isFollowing" (click)="onFollow(creator)" ><span>+</span>Follow</button>
            <button mat-button matTooltip="Follow Creator" class="btn-follow" *ngIf="isFollowing" (click)="onUnfollow(creator)"><span>+</span>Unfollow</button>
          </div>
        </div>
      </div>
      <div class="flashcard__container">
        <div class="no-card" *ngIf="cards.length === 0">
          <h1>No card...</h1>
          <button class="no-card__btn" (click)="openAddCardDialog()" *ngIf="isCreator()">Add new card</button>
        </div>
        <div class="carousel" *ngIf="cards.length !== 0">
          <input type="radio"
                 *ngFor="let i of helper(numberOfCard); let j = index"
                 id="carousel-{{j+1}}"
                 name="carousel[]"
                 [checked]="j==index-1"
                 (click)="onChangeCard(j+1)"
          />

          <ul class="carousel__items">
            <li class="carousel__item" *ngFor="let card of cards">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">{{ card.front_text }}</div>
                  <div class="card-back">{{ card.back_text }}</div>
                </div>

              </div>
            </li>
          </ul>
          <div class="carousel__next">
            <label
              *ngFor="let i of helper(numberOfCard); let j = index"
              for="carousel-{{ j + 1 }}"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
          </div>
          <div class="carousel__prev">
            <label
              *ngFor="let i of helper(numberOfCard); let j = index"
              for="carousel-{{ j + 1 }}"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
          </div>
        </div>
        <div class="flashcard__container-bottom">
          <span>{{ index }} of {{ numberOfCard }}</span>
        </div>
      </div>
    </div>
  </div>
</main>
