<main class="top-view">
  <div class="overview">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Back to flashcards"
      class="icon-btn"
    >
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <h1 class="overview__heading">Collection name</h1>
    <div class="overview__count">
      <div class="overview__count-average">8</div>
      <div class="overview__count-count">Cards</div>
    </div>
  </div>
  <div class="detail">
    <div class="description">
      <div class="description__area">
        <p>
          Description Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Iusto quae repellat quisquam sequi? Officia magnam deleniti ab ducimus
          tenetur, totam vero, amet excepturi porro, ipsam aspernatur at quos
          quae sequi?
        </p>
        <button mat-button class="btn-edit">Edit</button>
      </div>
      <div class="flashcard__container">
        <div class="carousel">
          <input type="radio" id="carousel-1" name="carousel[]" checked />
          <input type="radio" id="carousel-2" name="carousel[]" />
          <input type="radio" id="carousel-3" name="carousel[]" />
          <input type="radio" id="carousel-4" name="carousel[]" />
          <input type="radio" id="carousel-5" name="carousel[]" />
          <ul class="carousel__items">
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Front1</div>
                  <div class="card-back">
                    Description Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Iusto quae repellat quisquam sequi?
                    Officia magnam deleniti ab ducimus tenetur, totam vero, amet
                    excepturi porro, ipsam aspernatur at quos quae sequi?
                  </div>
                </div>
              </div>
            </li>
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Front2</div>
                  <div class="card-back">
                    Description Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Iusto quae repellat quisquam sequi?
                    Officia magnam deleniti ab ducimus tenetur, totam vero, amet
                    excepturi porro, ipsam aspernatur at quos quae sequi?
                  </div>
                </div>
              </div>
            </li>
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Front3</div>
                  <div class="card-back">
                    Description Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Iusto quae repellat quisquam sequi?
                    Officia magnam deleniti ab ducimus tenetur, totam vero, amet
                    excepturi porro, ipsam aspernatur at quos quae sequi?
                  </div>
                </div>
              </div>
            </li>
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Front4</div>
                  <div class="card-back">
                    Description Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Iusto quae repellat quisquam sequi?
                    Officia magnam deleniti ab ducimus tenetur, totam vero, amet
                    excepturi porro, ipsam aspernatur at quos quae sequi?
                  </div>
                </div>
              </div>
            </li>
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Front5</div>
                  <div class="card-back">
                    Description Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Iusto quae repellat quisquam sequi?
                    Officia magnam deleniti ab ducimus tenetur, totam vero, amet
                    excepturi porro, ipsam aspernatur at quos quae sequi?
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="carousel__next">
            <label for="carousel-1"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
            <label for="carousel-2"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
            <label for="carousel-3"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
            <label for="carousel-4"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
            <label for="carousel-5"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
          </div>
          <div class="carousel__prev">
            <label for="carousel-1"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
            <label for="carousel-2"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
            <label for="carousel-3"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
            <label for="carousel-4"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
            <label for="carousel-5"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
          </div>
        </div>
        <div class="flashcard__container-bottom"><span>1 of 8</span></div>
      </div>
    </div>
  </div>
</main>
