<main class="top-view">
  <div class="overview">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Back to flashcards"
      class="icon-btn"
    >
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <h1 class="overview__heading">Animals</h1>
    <div class="overview__count">
      <div class="overview__count-average">5</div>
      <div class="overview__count-count">Cards</div>
    </div>
  </div>
  <div class="detail">
    <div class="description">
      <div class="description__area">
        <p>
          a living organism which feeds on organic matter, typically having
          specialized sense organs and nervous system and able to respond
          rapidly to stimuli.
        </p>
        <button mat-button class="btn-edit">Edit</button>
      </div>
      <div class="flashcard__container">
        <div class="carousel">
          <input type="radio" id="carousel-1" name="carousel[]" checked />
          <input type="radio" id="carousel-2" name="carousel[]" />
          <input type="radio" id="carousel-3" name="carousel[]" />
          <input type="radio" id="carousel-4" name="carousel[]" />
          <input type="radio" id="carousel-5" name="carousel[]" />
          <ul class="carousel__items">
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Cat</div>
                  <div class="card-back">
                    a small domesticated carnivorous mammal with soft fur, a
                    short snout, and retractile claws. It is widely kept as a
                    pet or for catching mice, and many breeds have been
                    developed.
                  </div>
                </div>
              </div>
            </li>
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Dog</div>
                  <div class="card-back">
                    a domesticated carnivorous mammal that typically has a long
                    snout, an acute sense of smell, non-retractile claws, and a
                    barking, howling, or whining voice.
                  </div>
                </div>
              </div>
            </li>
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Cow</div>
                  <div class="card-back">
                    a fully grown female animal of a domesticated breed of ox,
                    kept to produce milk or beef. "a dairy cow" (loosely) a
                    domestic bovine animal, regardless of sex or age. (in
                    farming) a female domestic bovine animal which has borne
                    more than one calf. the female of certain other large
                    animals, for example elephant, rhinoceros, whale, or seal.
                  </div>
                </div>
              </div>
            </li>
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Rat</div>
                  <div class="card-back">
                    a rodent that resembles a large mouse, typically having a
                    pointed snout and a long tail. Some kinds have become
                    cosmopolitan and are sometimes responsible for transmitting
                    diseases.
                  </div>
                </div>
              </div>
            </li>
            <li class="carousel__item">
              <div class="flashcard__container">
                <div class="card">
                  <div class="card-front">Bird</div>
                  <div class="card-back">
                    a warm-blooded egg-laying vertebrate animal distinguished by
                    the possession of feathers, wings, a beak, and typically by
                    being able to fly.
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="carousel__next">
            <label for="carousel-1"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
            <label for="carousel-2"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
            <label for="carousel-3"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
            <label for="carousel-4"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
            <label for="carousel-5"
              ><mat-icon color="primary">arrow_forward</mat-icon></label
            >
          </div>
          <div class="carousel__prev">
            <label for="carousel-1"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
            <label for="carousel-2"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
            <label for="carousel-3"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
            <label for="carousel-4"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
            <label for="carousel-5"
              ><mat-icon color="primary">arrow_back</mat-icon></label
            >
          </div>
        </div>
        <div class="flashcard__container-bottom"><span>1 of 5</span></div>
      </div>
    </div>
  </div>
</main>
