.tF{
  font-size: 1.5rem;
  width: 70rem;
  padding: 3rem;
  border-radius: 5px;
  background-color: white;
  display: block;
  h1{
    text-align: center;
  }

  mat-form-field{
    width: 50rem !important;
  }
  &__btn{
    padding: .3rem .7rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
    transition: .2s all;
    &:hover{
      transform: scale(1.05);
    }
    &:active{
      transform: scale(.95);
    }
    &-next{
      background-color: var(--color-secondary);
      color: white;
    }
    &-back{
      background-color: var(--color-grey-light-4);
      color: black
    }
    &-save{
      background-color: var(--color-primary);
      color: white;
    }
    &-reset{
      background-color: var(--color-grey-light-2);
      color: green;
    }
  }
  mat-radio-button{
    padding: 2rem;
  }
}

