.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 100%;



  &__form {
    margin: auto;
    border-radius: 10px;
    display: flex;
    background-color: #fff;
    height: 60rem;
    background-image: linear-gradient(
        to right bottom,rgba(#5A6D89, 0.8), rgba(68, 82, 102, 0.8)),
        url("https://images.unsplash.com/photo-1528701202755-cf9158dc3da6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c072549944daeba2ee1229f21ecdd45e&auto=format&fit=crop&w=1639&q=80");
        background-size: cover;
    & > * {
      display: flex;
      flex-direction: column;
    }
    &-left {
      flex: 0 0 50%;
      background-color: var(--color-grey-light-3);
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      border-radius: 10px 0 0 10px;
    }
    &-right {
      flex: 1;
      padding: 8rem 0;

    }
    &-input {
      border: none;
      border-radius: 10px;
      padding: 1rem 1rem;
      margin: 1rem 0;
      font-size: 1.5rem;
      width: 40rem;
      transition: all .5s;
      &:focus{
        transform: scale(1.05);
        border-bottom: 3px inset var(--color-primary-light);
      }

    }
    &-header
    {
      &-1{
        margin: auto 13rem;
        text-align: center;
        font-size: 3rem;

      }
      &-2{
        margin: auto 2rem;
        text-align: center;
        font-size: 2rem;

      }
      &-3{
        margin: auto 13rem;
        text-align: center;
        font-size: 3.5rem;
        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem;
        border-bottom: 1px solid var(--color-grey-light-2);
        color: white;
      }
    }
  }

  &__btn {
    font-size: 2rem;
    text-align: justify;
    display: block;
    border-radius: 5px;
    border: none;
    width: 30rem;
    height: 5rem;
    margin: auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    fa{
      padding: 0 1rem;
    }

    &-facebook {
      background-color: #3b5998;
      color: white;
      padding-left: 4rem;

    }
    &-twitter {
      background-color: #0084b4;
      color: white;
      padding-left: 4rem;
    }
    &-google {
      background-color: #d85040;
      color: white;
      padding-left: 4rem;
    }
    &-submit{
      text-align: center;
      color:black;
      text-transform: uppercase;
    }
    &:hover
    {
      transform: scale(1.1);
      animation: pulsate 2s infinite;
    }
  }
}

.or{
  height: 10rem;
  width: 10rem;
  font-size: 3rem;
  background-color: var(--color-grey-light-1);
  border-radius: 50%;
  color: var(--color-grey-dark-1);
  margin: auto -5rem;
}
