<main class="top-view">
  <div class="overview">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Back to flashcards"
      class="icon-btn"
    >
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <h1 class="overview__heading">Animals</h1>
    <div class="overview__count">
      <div class="overview__count-average">5</div>
      <div class="overview__count-count">Cards</div>
    </div>
  </div>
  <div class="detail"><div class="description"></div></div>
</main>
