<div class="log-in">
  <form action="#" class="log-in__form">
    <h1 class="log-in__form-header-1">Log in</h1>
    <h2 class="log-in__form-header-2">Log in with Social media</h2>
    <div class="log-in__social">
      <div class="log-in__social-facebook"><fa name="facebook-f"></fa></div>
      <div class="log-in__social-twitter"><fa name="twitter"></fa></div>
      <div class="log-in__social-google"><fa name="google"></fa></div>
    </div>
    <div class="border"></div>
    <h2 class="log-in__form-header-2">OR</h2>
    <input
      type="text"
      name="email"
      placeholder="Email"
      class="log-in__form-input "
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      class="log-in__form-input"
    />
    <!--
      if input error add class 'log-in__form-input__error' to the input tag
    -->
    <button class="log-in__btn log-in__btn-submit">
      <span class="log-in__btn-submit__visible">Log in!</span>
      <span class="log-in__btn-submit__invisible">Submit</span>
    </button>
  </form>
</div>
