<div class="log-in">
  <div class="log-in__form">
    <form action="#" class="log-in__form-left">
      <h1 class="log-in__form-header-1">log-in</h1>
      <h2 class="log-in__form-header-2">
        Please fill in this form to create an account.
      </h2>
      <hr />
      <input
        type="text"
        name="email"
        placeholder="Email"
        class="log-in__form-input "
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="log-in__form-input"
      />
      <!--
        if input error add class 'log-in__form-input__error' to the input tag
      -->
      <button class="log-in__btn log-in__btn-submit">
        <span class="log-in__btn-submit__visible">log-in up!</span>
        <span class="log-in__btn-submit__invisible">Submit</span>
      </button>
    </form>
  </div>
</div>
