<nav class="sidebar">
  <ul class="side-nav">
    <li class="side-nav__item" routerLinkActive="side-nav__item side-nav__item--active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/" class="side-nav__link">
        <mat-icon class="side-nav__icon">home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active" *ngIf="status">
      <a routerLink="/flash"  class="side-nav__link">
        <mat-icon class="side-nav__icon">style</mat-icon>
        <span>Flashcards</span>
      </a>
    </li>
    <li class="side-nav__item" *ngIf="status">
      <a href="#" class="side-nav__link">
        <mat-icon class="side-nav__icon">table_chart</mat-icon>
        <span>Time table</span>
      </a>
    </li>
    <li class="side-nav__item" *ngIf="status">
      <a href="#" class="side-nav__link">
        <mat-icon class="side-nav__icon">edit_attributes</mat-icon>
        <span>Planner</span>
      </a>
    </li>
    <li class="side-nav__item" *ngIf="status">
      <a href="#" class="side-nav__link">
        <mat-icon class="side-nav__icon">block</mat-icon>
        <span>Self Control</span>
      </a>
    </li>
    <li class="side-nav__item" routerLinkActive="side-nav__item--active" *ngIf="status">
      <a routerLink="/quiz"  class="side-nav__link">
        <mat-icon class="side-nav__icon">style</mat-icon>
        <span>Quiz</span>
      </a>
    </li>
    <li class="side-nav__item" *ngIf="status">
      <a href="#" class="side-nav__link">
        <mat-icon class="side-nav__icon">assignment</mat-icon>
        <span>Note</span>
      </a>
    </li>
    <li class="side-nav__item" *ngIf="status">
      <a href="#" class="side-nav__link">
        <mat-icon class="side-nav__icon">timer</mat-icon>
        <span>count Down</span>
      </a>
    </li>
    <li class="side-nav__item" *ngIf="status">
      <a href="#" class="side-nav__link">
        <mat-icon class="side-nav__icon">category</mat-icon>
        <span>Mind mapping</span>
      </a>
    </li>
    <li class="side-nav__item" *ngIf="status">
      <a href="#" class="side-nav__link">
        <mat-icon class="side-nav__icon">group</mat-icon>
        <span>groups</span>
      </a>
    </li>

  </ul>

  <div class="legal">&copy; 2018 by Minerva. All right reserved.</div>
</nav>
