<main class="top-view">
  <div class="overview">
    <h1 class="overview__heading">
      <mat-icon
        color="primary"
        style="display: inline-flex; vertical-align: middle;"
      >style
      </mat-icon>
      Quizzes
    </h1>
    <div class="overview__count">
      <div class="overview__count-average">{{ number_quiz }}</div>
      <div class="overview__count-count">Collection</div>
    </div>
  </div>
  <div class="detail">
    <div class="detail-sub">
      <div class="description sub__1">
        <div class="feature-heading">
          <h1>Quiz</h1>
          <button mat-button matTooltip="See how it works!">
            <i class="far fa-play-circle"></i>
          </button>
        </div>
        <div class="feature-description">
          With all the focus on determining whether training helps people
          perform better, do we really need to include multiple choice quizzes
          in our e-learning? Don't multiple choice quizzes insult the
          intelligence of our learners who are experienced, smart, adult
          learners who do not want to be treated like school children? I mean, I
          know that we want people to learn what is in the training and testing
          is a way to do that. But do these quizzes really do anything for
          anyone?

          <h2>Why Quizzes Help Us Learn?</h2>
          <div class="feature-description__help">
            <ul>
              <li>Quizzes that Motivate</li>
              <li>Quizzes that Help People Remember</li>
              <li>Quizzes that Assess What Was Learned</li>
            </ul>
          </div>
        </div>
        <a onclick="scroll_to_div('quizTable')" class="feature__btn">Discover More</a>
      </div>

      <div class="description sub__2">
        <h1>Quizzes on trend :</h1>
        <div class="user-explore" *ngFor="let quiz of trending">
          <div class="user">
            <img
              class="user-img"
              src="../../../assets/img/quiz.png"
              alt=""
            />
            <div class="user-acc">
              <div>
                <span class="user-username">{{quiz.title}}</span>
              </div>
              <span class="user-detail">Rating : {{quiz.rating}}</span>
            </div>
          </div>
          <a class="btn-see-more side-1" routerLink="/quiz/item/{{quiz._id}}">
            See more
            <mat-icon>arrow_right</mat-icon>
          </a>
        </div>

      </div>
    </div>

    <div class="description" id="quizTable">
      <div class="description-btn_set">
        <div class="description__flex-start">
          <form action="#" class="search">
            <input
              (keyup)="applyFilter($event.target.value)"
              type="text"
              class="search__input"
              placeholder="Search for collection name, author"
            />
            <button class="search__button">
              <mat-icon
                class="search__icon"
                matTooltip="Search by keyword"
                color="primary"
              >search
              </mat-icon
              >
            </button>
          </form>
          <button
            mat-raised-button
            matTooltip="All Public quiz collection appears here!"
            class="description__flex-start__info"
          >
            <i class="fas fa-info-circle"></i>
          </button>
        </div>
        <div>
          <button
            mat-raised-button
            matTooltip="Create new collection of quiz"
            class="btn-my"
            mat-button
            (click)="onMyQuiz()"
          >
            My Quizzes
          </button>
        </div>
      </div>
      <div *ngIf="!isLoaded" class="spinner">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
       >

        <ng-container matColumnDef="privacy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Privacy
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              [ngClass]="element.privacy ? 'fill-red' : 'fill-green'">{{ element.privacy ? 'lock' : 'public' }}</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Title
          </th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell
              *matCellDef="let element">{{ element.description.length > 50 ? (element.description | slice : 0 : 50) + ' .....' : element.description  }}</td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
          <td mat-cell *matCellDef="let element;">
            <form #form="ngForm">
              <bar-rating
                [rate]="element.rating"
                [max]="5"
                [theme]="'fontawesome-o'"
                color="primary"
              ></bar-rating>
            </form>
          </td>
        </ng-container>

        <ng-container matColumnDef="views">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Views</th>
          <td mat-cell *matCellDef="let element">{{ element.views }}</td>
        </ng-container>
        <!---->
        <ng-container matColumnDef="noOfQuestions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No. of question</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfQuestions }}</td>
        </ng-container>

        <ng-container matColumnDef="dom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Modified</th>
          <td mat-cell *matCellDef="let element">{{ element.dom | date : 'medium' }}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              matTooltip="Remove collection"
              class="btn-delete"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumn()"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: getDisplayedColumn()"
          (click)="onRowClick(row)"
        ></tr>
      </table>
      <mat-paginator [length]="number_quiz" [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</main>
