.mcq{
  font-size: 1.5rem;
  width: 70rem;
  padding: 3rem;
  border-radius: 5px;
  background-color: white;
  display: block;
  h1{
    text-align: center;
  }
  &__choice{
    display: flex;

  }

  mat-form-field{
    width: 50rem !important;
  }
  &__btn{
    padding: .3rem .7rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
    transition: .2s all;
    &:hover{
      transform: scale(1.05);
    }
    &:active{
      transform: scale(.95);
    }
    &-next{
      background-color: var(--color-secondary);
      color: white;
    }
    &-back{
      background-color: var(--color-grey-light-4);
      color: black
    }
    &-save{
      background-color: var(--color-primary);
      color: white;
    }
    &-reset{
      background-color: var(--color-grey-light-2);
      color: green;
    }
    &-edit{
      color: var(--color-grey-light-2);
      padding: .2rem;
      margin: auto .5rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      transition: .2s all;
      transform: scale(.7);
      &:hover{
        transform: scale(.8);
      }
      &:active{
        transform: scale(.65);
      }
      &__add{
        background-color: green;
        height: 3rem;
        width: 15rem;
        border-radius: 5px;
        margin: auto 1rem;
        transform: scale(1.05);
      }
      &__remove{
        background-color: rgb(119, 0, 0);
      }
    }
    mat-icon {
      vertical-align: middle !important;
    }
  }
}

