<main class="top-view">
  <div class="overview">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Back to quizzes"
      class="icon-btn"
      (click)="onClickBack()"
    >
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <h1 class="overview__heading">Create New Quiz</h1>
    <div class="overview__count">
      <div class="overview__count-average">10</div>
      <div class="overview__count-count">Questions</div>
    </div>
  </div>
  <div class="detail">
    <form>
      <div class="description">
        <div class="create-quiz__header">
          <mat-form-field color="primary">
            <input
              name="title"
              matInput
              type="text"
              class="collection_name"
              placeholder="Quiz Name"
              required
              #title
            />
          </mat-form-field>
          <mat-form-field>
            <textarea
              name="description"
              matInput
              class="collection_description"
              type="text"
              placeholder="Description"
              required
              #description
            ></textarea>
          </mat-form-field>
          <div class="privacy-toggle">
            Do you want to share this collection? &nbsp;
            <mat-slide-toggle matInput #privacy color="primary"
                              (click)="sliding(privacy.checked)">{{ privacyText}}</mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="create-quiz__questions-btn">
        <button mat-button class="btn btn__insert" (click)="openAddMcqDialog()">
          <mat-icon class="icon">add</mat-icon>&nbsp;Insert question
        </button>

      </div>
    </form>

    <div class="description" *ngIf="quiz.questions.length > 0">
      <div class="create-quiz__overview">
        <form class="question" *ngFor="let question of quiz.questions; let i = index">
          <div class="question-header">
            <div class="question-number">{{ i + 1 }}</div>

            <div class="question-question">{{ question.question_text }}</div>
            <div class="question-remove">
              <button class="btn__edit" matTooltip="Edit" mat-button>
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button class="btn__remove" matTooltip="Delete" mat-button>
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
          <mat-radio-group class="question-choice">
            <mat-radio-button *ngFor="let choice of question.choice; let j = index" [value]="j" color="primary"
                              class="radio-button" [checked]="choice.answer">
              {{choice.choice_text}}
            </mat-radio-button>
          </mat-radio-group>
        </form>


      </div>
    </div>
    <button mat-button class="btn btn__save" (click)="onCreate(title.value, description.value, privacy.checked)">Save</button>
  </div>
</main>
