<main class="top-view">
  <div class="overview">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Back to quizzes"
      class="icon-btn"
    >
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <h1 class="overview__heading">Create New Quiz</h1>
    <div class="overview__count">
      <div class="overview__count-average">10</div>
      <div class="overview__count-count">Questions</div>
    </div>
  </div>
  <div class="detail">
    <form>
      <div class="description">
        <div class="create-quiz__header">
          <mat-form-field color="primary">
            <input
              name="title"
              matInput
              type="text"
              class="collection_name"
              placeholder="Quiz Name"
              #collectionName
            />
          </mat-form-field>
          <mat-form-field>
            <textarea
              name="description"
              matInput
              class="collection_description"
              type="text"
              placeholder="Description"
              #description
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="create-quiz__questions-btn">
        <button mat-button [matMenuTriggerFor]="menu" class="btn btn__insert">
          <mat-icon class="icon">add</mat-icon>&nbsp;Insert question
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openAddMcqDialog()">
            <mat-icon color="primary"> format_list_bulleted</mat-icon
            >&nbsp;Multiple Choices
          </button>
          <button mat-menu-item (click)="openAddTrueFalseDialog()">
            <mat-icon color="primary"> bubble_chart</mat-icon>&nbsp;True or
            False
          </button>
        </mat-menu>
        <button mat-button class="btn btn__edit">
          <mat-icon class="icon">edit</mat-icon>&nbsp;Edit question
        </button>
      </div>
    </form>

    <div class="description">
      <div class="create-quiz__overview">
        <form class="question">
          <div class="question-header">
            <div class="question-number">1</div>
            <div class="question-question">what is my name?</div>
            <div class="question-remove">
              <button class="btn__remove" matTooltip="Delete" mat-button>
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>
          <mat-radio-group class="question-choice">
            <mat-radio-button value="1" color="primary" class="radio-button"
              >Option 1</mat-radio-button
            >
            <mat-radio-button value="2" color="primary" class="radio-button"
              >Option 2</mat-radio-button
            >
            <mat-radio-button value="3" color="primary" class="radio-button"
              >Option 3</mat-radio-button
            >
            <mat-radio-button
              value="4"
              color="primary"
              class="radio-button radio-button__correct-answer"
              checked
              >Option 4</mat-radio-button
            >
          </mat-radio-group>
        </form>
        <form class="question">
          <div class="question-header">
            <div class="question-number">2</div>
            <div class="question-question">what is my name?</div>
            <div class="question-remove">
              <button class="btn__remove" matTooltip="Delete" mat-button>
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>
          <mat-radio-group class="question-choice">
            <mat-radio-button
              value="2"
              color="primary"
              class="radio-button radio-button__correct-answer"
              checked
              >True</mat-radio-button
            >
            <mat-radio-button value="3" color="primary" class="radio-button"
              >False</mat-radio-button
            >
          </mat-radio-group>
        </form>
        <form class="question">
          <div class="question-header">
            <div class="question-number">3</div>
            <div class="question-question">what is my name?</div>
            <div class="question-remove">
              <button class="btn__remove" matTooltip="Delete" mat-button>
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>
          <mat-radio-group class="question-choice">
            <mat-radio-button value="1" color="primary" class="radio-button"
              >Option 1</mat-radio-button
            >
            <mat-radio-button value="2" color="primary" class="radio-button"
              >Option 2</mat-radio-button
            >
            <mat-radio-button
              value="3"
              color="primary"
              class="radio-button radio-button__correct-answer"
              checked
              >Option 3</mat-radio-button
            >
            <mat-radio-button value="4" color="primary" class="radio-button"
              >Option 4</mat-radio-button
            >
          </mat-radio-group>
        </form>

        <form class="question">
          <div class="question-header">
            <div class="question-number">14</div>
            <div class="question-question">My name is kan</div>
            <div class="question-remove">
              <button class="btn__remove" matTooltip="Delete" mat-button>
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>
          <mat-radio-group class="question-choice">
            <mat-radio-button
              value="1"
              color="primary"
              class="radio-button radio-button__correct-answer"
              checked
              >True</mat-radio-button
            >
            <mat-radio-button value="2" color="primary" class="radio-button"
              >False</mat-radio-button
            >
          </mat-radio-group>
        </form>
      </div>
    </div>
    <button mat-button class="btn btn__save">Save</button>
  </div>
</main>
