$bp-largest: 75em; //1200px  (1200/16)
$bp-large: 68.25em; //1100px  (1100/16)
$bp-medium: 65.25em; //900px  (900/16)
$bp-small: 37.5em; //600px  (600/16)
$bp-smallest: 31.25em; //500px  (500/16)
.user-search {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    background-color: transparent;
    z-index: 105;
    height: 100%;
    @media only screen and (max-width: $bp-smallest) {
        transform: scale(.85);
    }
    @media only screen and (max-width: 425px) {
        transform: scale(.70);
    }
    @media only screen and (max-width: 340px) {
        transform: scale(.68);
    }
    @media only screen and (max-width: 320px) {
        transform: scale(.65);
    }
    &__form {
        border-radius: 10px;
        box-shadow: 0 1rem 2rem rgba(black, 0.2);
        background-color: var(--color-grey-light-1);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 2rem;
        min-height: 30rem;
    }
}

.search {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-around;
    @media only screen and (max-width: $bp-largest) {
        flex: 0 0 40%;
    }
    @media only screen and (max-width: $bp-small) {
        flex: 0 0 50%;
    }
    @media only screen and (max-width: $bp-smallest) {
        flex: 0 0 30%;
    }
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: white;
        border: 1px solid white;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 30rem;
        font-size: 1.65rem;
        transition: all .2s;
        color: black;
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-dark-1);
        }
        &:focus{
          border: 1px solid black;
        }
    }
    &__button {
        border: none;
        background-color: transparent;
        outline: none;
        transform: translateY(2px);
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(4px);
        }
    }
    &__icon {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
        fill: var(--color-grey-dark-3);
    }
}

.user {
    display: flex;
    justify-content: flex-start;
    font-size: 1.65rem;
    &-expore {
        display: flex;
        justify-content: space-between;
        padding: 1rem .5rem;
        align-items: center;
        width: 35rem;
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--color-grey-light-4);
        }
    }
    &-img {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
    &-username {
        font-weight: 700;
    }
    &-detail {
        font-weight: 200;
    }
    &-acc {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        justify-content: center;
    }
    &-notfound{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      color: var(--color-grey-dark-3);
      font-size: 1.65rem;
      margin-top: 7rem;
      mat-icon{
        margin: auto;
        fill:var(--color-grey-dark-3);
      }
    }
}

.description-side {
    &__sub {
        padding: 1rem;
    }
}

.btn {
  width: 14rem;
    &-follow {
        transform: scale(.7);
        border-radius: 100px;
        box-shadow: 0 0.2rem 0rem var(--color-secondary);
        border: .5px solid var(--color-secondary);
        padding: 0rem 2rem;
        vertical-align: middle;
        color: var(--color-secondary-dark);
        display: inline-block;
        cursor: pointer;
        height: 3rem;
        font-size: 2rem;
        background-color: white;
        outline: none;
        transition: .2s all;
        display: inline-block;
        .bold {
            font-weight: 900;
            padding-right: .3rem;
        }
        &:hover {
            box-shadow: 0 -0.2rem 0rem var(--color-secondary);
            transform: scale(.75);
        }
        &:active {
            transform: scale(.69);
        }
        &-following {
            box-shadow: none;
            border: .5px solid var(--color-grey-dark-3);
            color: var(--color-grey-dark-3);
            text-align: center;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            &>* {
                display: inline-block;
                transition: all 0.2s;
                height: 100%;
            }
            &__visible {
                padding: 1.5rem 0rem;
                margin-top: -2rem;
                margin-left: -.5rem;
            }
            &__invisible {
                position: absolute;
                padding: 1.5rem 0;
                left: 0;
                top: -100%;
                margin-top: -1.25rem;
                color: rgb(150, 0, 0);
                margin-left: 2rem;
            }
            &:hover {
                box-shadow: none;
                border: .5px solid rgb(150, 0, 0);
                transform: scale(.75);
            }
            &:hover &__invisible {
                top: 0;
            }
            &:hover &__visible {
                transform: translateY(100%);
            }
            &:focus {
                outline: none;
                /*animation: pulsate 1s infinite;*/
            }
        }
    }
}
