<div class="plan-detail">
  <mat-form-field class="plan-detail__input">
    <input matInput placeholder="Title"/>
  </mat-form-field>
  <div class="color-picker-group">
    <span>Prioity</span>
    <input
      type="color"
      class="color-picker"
      placeholder="Primary color"
    />
  </div>

  <div class="color-picker-group">
    <span>Starts at</span>
    <input
      class="date_time-picker"
      type="text"
      mwlFlatpickr
      [altInput]="true"
      [convertModelValue]="true"
      [enableTime]="true"
      dateFormat="Y-m-dTH:i"
      altFormat="F j, Y H:i"
      placeholder="Not set"
    />
  </div>
  <div class="color-picker-group">
    <span>Ends at</span>
    <input
      class="date_time-picker"
      type="text"
      mwlFlatpickr
      [altInput]="true"
      [convertModelValue]="true"
      [enableTime]="true"
      dateFormat="Y-m-dTH:i"
      altFormat="F j, Y H:i"
      placeholder="Not set"
    />
  </div>
  <mat-form-field class="plan-detail__input">
    <textarea matInput placeholder="Plan's detail"></textarea>
  </mat-form-field>
  <div class="btn-group">
    <button mat-button class="btn remove">remove</button>
    <button mat-button class="btn save">save</button>
  </div>
</div>
