.add-card {
    &__container {
        background: #ffff;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        justify-content: center;
        align-content: center;
        width: 80rem;
        background-color: var(--color-grey-light-3);
        h1 {
          font-size: 2.5rem;
          text-align: center;
          margin: 1rem 0;
          font-weight: 500;
        }

    }
    &__area {
        display: flex;
        justify-content: space-around;
        flex: 0 0 50%;
        flex-direction: row;

        padding: 2rem;
        align-items: center;

    }
    &__information {
        margin: auto;
        border-style: none;
        border-color: Transparent;
        background-color: Transparent;
        overflow: auto;
        width: 100%;
        height: 100%;
        resize: none;
        text-align: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: 500;
        display: block;
        padding: 6.5rem 1rem;
        cursor: text;
        width: 30rem;
        height: 15rem;
        background-color: var(--color-grey-light-1);
        box-shadow: 1rem 1rem 1rem rgba(black, 0.2);
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            font-size: 2rem;
            font-weight: 500;
            padding: auto;
        }
        &-back {
            font-size: 2rem;
            font-weight: 200;
        }
        &-front {
            padding: 5rem 1rem;
        }
    }
}
