$bp-largest: 75em; //1200px  (1200/16)
$bp-large: 68.25em; //1100px  (1100/16)
$bp-medium: 65.25em; //900px  (900/16)
$bp-small: 37.5em; //600px  (600/16)
$bp-smallest: 31.25em; //500px  (500/16)
.top-view {
  background-color: var(--color-grey-light-1);
  flex: 1;
  @media only screen and (max-width: 1400px) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-largest) {
    margin-left: 4rem;
  }
  @media only screen and (max-width: $bp-large) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin-left: 3rem;
  }
  @media only screen and (max-width: 1044px) {
    margin-left: 0rem;
  }
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  font-size: 1.4rem;
  flex-direction: column;
  height: 100%;
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 2rem;
  flex: 1;
  flex-direction: row;
  height: 100%;
  justify-content: center;

  &:not(:first-of-type) {
    margin: 1rem 0;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  &-btn_set {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  &__area {
    margin: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &-p {
      span {
        font-weight: bold;
      }

      background-color: rgba(#8ab7bb, .05);
      margin: auto;
      padding: 2rem 3rem;
      border-radius: 10px;
      width: 60rem;
      text-align: justify;
      border: none;

      input {
        border: var(--color-primary);
        color: var(--color-primary);
        font-size: 2rem;
      }
    }

    &-input {
      background-color: rgba(255, 131, 0, 0.16);
      margin: auto;
      padding: 2rem 3rem;
      border-radius: 10px;
      width: 60rem;
      text-align: justify;
      border: none;
      font-size: 1.5rem;
      color: black;
    }
  }
}

.overview {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--line);
  align-items: center;
  background-color: #fff;
  margin-top: 7rem;
  padding-left: 2rem;

  &__right {
    display: flex;
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 6rem;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
    @media only screen and (max-width: $bp-large) {
      padding: 1.5rem 6rem;
    }
    @media only screen and (max-width: $bp-largest) {
      padding: 1.5rem 6rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    font-size: 0.5rem;
  }

  &__count {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-average {
      font-size: 2.2rem;
      font-weight: 300;
      margin-bottom: -3px;
      @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
      }
    }

    &-count {
      text-transform: uppercase;
      font-size: 0.8rem;
      @media only screen and (max-width: $bp-small) {
        font-size: 0.5rem;
      }
    }


    @media only screen and (max-width: $bp-small) {
      padding: 1.5rem;
    }
  }
}

.icon-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem;
  display: block;
  border-radius: 50%;
  transition: 0.2s ease-out;

  &:active,
  &:visited {
    background-color: rgba(#ffa000, 0.3);
    transform: scale(0.8);
  }

  &:hover {
    background-color: rgba(#ffa000, 0.2);
  }
}

.btn {
  &-edit {
    color: var(--color-primary);
    text-decoration: underline;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    transition: all 0.2s;
    font-size: 1.5rem;
    text-shadow: 0 0.5rem 0.5rem rgba(black, 0.1);
    margin-left: 2rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
      text-shadow: 0 0.5rem 0.5rem rgba(black, 0.3);
    }
  }

  &-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
}

.create-quiz {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    font-size: 2rem;


    span {
      font-size: 1.5rem;
      font-style: italic;
    }

    p {
      text-align: justify;
      font-size: 1.75rem;
      margin: 1rem auto;
    }
  }

  &__questions {
    &-btn {
      display: flex;
      justify-content: flex-end;
      margin: 1rem 0;
    }
  }

  &__overview {
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
  }
}

.btn {
  background-color: var(--color-grey-light-1);
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: .3rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 .5rem rgba(black, .2);
  cursor: pointer;
  transition: .2s all;

  mat-icon {
    vertical-align: middle !important;
  }

  &:hover {
    box-shadow: 0 .5rem .5rem rgba(black, .2);
  }

  &__insert {
    color: #00af0f;
    margin-right: .5rem;
  }

  &__edit {
    color: var(--color-secondary);
  }

  &__save {
    background-color: var(--color-primary);
    color: white;
    border-radius: 100px;
    padding: 1rem 3rem;
    margin: 0 .5rem;
    transition: .2s all;

    &:hover {
      transform: scale(1.04);

    }

    &:active {
      transform: scale(.95);

    }
  }

  &__start {
    background-color: var(--color-primary);
    color: white;
    border-radius: 100px;
    padding: 1rem 3rem;
    margin: auto;
    transition: .2s all;

    &:hover {
      transform: scale(1.04);
    }

    &:active {
      transform: scale(.95);
    }
  }

  &__retest {
    background-color: var(--color-secondary);
  }

  &__group {
    display: flex;
    justify-content: center;
  }


}

.question {
  background-color: var(--color-grey-light-3);
  margin: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  &-header {
    display: flex;
    background-color: white;
  }

  &-number {
    flex: 0 0 10%;
    background-color: var(--color-primary);
    color: rgba(white, .7);
    margin: auto;
    text-align: center;
    padding: 1rem 0;
    font-weight: 500;
    font-size: 4rem;

  }

  &-question {
    background-color: var(--color-grey-light-2);
    flex: 1;
    padding: 2rem;
    display: flex;
    align-items: center;

  }

  &-answer {
    background-color: green;
  }

  &-choice {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-light-1);
    padding: 2rem 0;

    line-height: 5rem;

  }

  &-remove {
    flex: 0 0 10%;
    display: flex;
    background-color: var(--color-grey-light-2);
    justify-content: center;
    align-content: center;
  }

  &-correction {
    flex: 0 0 10%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__true {
      background-color: green;

      mat-icon {
        transform: scale(2);
      }
    }

    &__false {
      background-color: rgb(187, 3, 3);

      mat-icon {
        transform: scale(2);
      }
    }
  }

}


.radio-button {
  padding-left: 2rem;
  position: relative;

  &__correct-answer {
    background-color: rgba(#f68b1f, .09);
  }
}

.btn__remove {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(187, 3, 3);
  transition: .3s all;
  text-shadow: 0 1rem 1rem (black, .2);
  margin: auto;
  transform: scale(1.3);

  &:hover {
    transform: scale(1.4);
  }

  &:active {
    transform: scale(1.2);
  }

}

.correction {
  display: inline-flex;
  justify-content: flex-end;
  font-weight: 700;
  background-color: var(--color-grey-light-1);
  padding-right: 1rem;

  mat-icon {
    vertical-align: middle !important;
  }

  &-true {
    color: green;
  }

  &-false {
    color: rgb(187, 3, 3);
  }
}

.result {
  background-color: var(--color-grey-light-2);
  border-radius: 5px;
  border: none;
  padding: 2rem;
  width: 40%;
  height: 100%;
  border: 2px solid var(--color-secondary);
  text-align: center;
  margin: 1rem auto;

  h1 {
    color: var(--color-secondary-dark);
    text-align: center;

  }

  &-false {
    color: rgb(187, 3, 3);
  }

  &-true {
    color: green;
  }

  &-percent {
    color: var(--color-secondary-dark);
  }

}

.follow {
  text-align: center;
  padding: .7rem 1.5rem !important;
  align-content: center;
  justify-content: center;
  margin: auto;

  &__container {
    margin: auto .5rem;
    padding: 0 .5rem;
    display: block;

    &:hover,
    &:visited {
      transform: scale(1.05);
      border-radius: 5px;
    }
  }

  &__text {
    font-style: italic;
  }

  &__no {
    color: var(--color-primary);
    font-size: 2.2rem;
  }
}

.btn {
  &-edit {
    color: var(--color-primary);
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    transition: all 0.2s;
    font-size: 1.5rem;
    text-shadow: 0 0.5rem 0.5rem rgba(black, 0.1);
    margin: auto;
    font-weight: 500;
    align-self: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
      text-shadow: 0 0.5rem 0.5rem rgba(black, 0.3);
    }

    @media only screen and (max-width: $bp-small) {
      align-self: flex-end;
    }
  }

  &-follow {
    transform: scale(.7);
    border-radius: 100px;
    box-shadow: 0 0.2rem 0rem var(--color-secondary);
    border: .5px solid var(--color-secondary);
    padding: 0rem 2rem;
    vertical-align: middle;
    color: var(--color-secondary-dark);
    display: inline-block;
    cursor: pointer;
    height: 3rem;
    font-size: 1.6rem;
    background-color: white;
    outline: none;
    transition: .2s all;
    display: inline-block;

    .bold {
      font-weight: 900;
      padding-right: .3rem;
    }

    &:hover {
      box-shadow: 0 -0.2rem 0rem var(--color-secondary);
      transform: scale(.75);
    }

    &:active {
      transform: scale(.69);
    }

    &-following {
      box-shadow: none;
      border: .5px solid var(--color-grey-dark-3);
      color: var(--color-grey-dark-3);
      text-align: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      width: 10rem;

      & > * {
        display: inline-block;
        transition: all 0.2s;
        height: 100%;
        width: 100%;
      }

      &__visible {
        padding: 1.5rem 0rem;
        margin-top: -2rem;
        margin-left: -3rem;
      }

      &__invisible {
        position: absolute;
        padding: 1.5rem 0;
        left: 0;
        top: -100%;
        margin-top: -1rem;
        color: var(--color-secondary);
      }

      &:hover {
        box-shadow: none;
        border: .5px solid var(--color-secondary);
        transform: scale(.75);
      }

      &:hover &__invisible {
        top: 0;
      }

      &:hover &__visible {
        transform: translateY(100%);
      }

      &:focus {
        outline: none;
        /*animation: pulsate 1s infinite;*/
      }
    }
  }
}

.greenanswer {
  color: green;
}

.edit {
  &-togger {
    color: var(--color-primary);
  }

  &-description {
    width: 70%;
    border-radius: 10px;
    border: 1px solid var(--color-grey-light-4);
    text-align: center;
    &:focus{
      border: 1px solid var(--color-primary);
    }
  }

  &-question {
    padding-left: 2rem;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    &:focus{
      border: 1px solid var(--color-primary);
    }
    &__title{
      padding-left: 3rem 0rem;
      text-align: center;
      font-size: 2rem;
      border-radius: 10px;
      border: 1px solid var(--color-grey-light-4);
      text-transform: uppercase;
      color: var(--color-grey-dark-2);
      &:focus{
        border: 1px solid var(--color-primary);
      }
    }
  }

  &-choice {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    transition: .2s all;
    &:focus{
      border: 1px solid var(--color-primary);
    }
  }

  &-btn {
    &__save {
      color: white;
      background-color: var(--color-primary);
      padding: .5rem 1rem;
      border: none;
      outline: none;
      border-radius: 100px;
      transition: .2s all;
      align-self: center;
      justify-self: center;
      margin: auto;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(.95);
      }
    }

    &__delete {
      color: darkred;
      background-color: transparent;
      font-size: 2rem;
      border: none;
      cursor: pointer;
      transition: .2s all;
      padding: 0 1rem;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(.9);
      }
    }
  }
}




