<main class="top-view">
  <div class="overview">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Back to quizzes"
      class="icon-btn"
      (click)="onClickBack()"
    >
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
    <h1 class="overview__heading">{{ quiz.title }}</h1>
    <div class="overview__count">
      <div class="overview__count-average">{{ quiz.noq }}</div>
      <div class="overview__count-count">Questions</div>
    </div>
  </div>
  <div class="detail">
    <div class="description">
      <div class="create-quiz__overview">
        <form class="question" #f='ngForm' (ngSubmit)="onSubmit(f)">
          <div *ngFor="let question of quiz.questions; let i = index;">
            <div class="question-header">
              <div class="question-number">{{ i + 1 }}</div>
              <div class="question-question">{{question.question_text}}</div>
              <div class="question-correction question-correction__false" *ngIf="quiz.isTaken && point[i] === 0">
              <mat-icon>close</mat-icon>
              </div>
              <div class="question-correction question-correction__true" *ngIf="quiz.isTaken && point[i] === 1">
              <mat-icon>check</mat-icon>
              </div>
            </div>
            <mat-radio-group class="question-choice" [name]="i.toString()" ngModel>
              <mat-radio-button *ngFor="let choice of question.choice; let j = index;" [value]="j" color="primary"
                                class="radio-button" [disabled]="isTaken">{{choice.choice_text}}</mat-radio-button
              >
            </mat-radio-group>
            <div class="correction correction-false" *ngIf="quiz.isTaken && point[i] === 0">
              <mat-icon>close</mat-icon>&nbsp;Your answer is Wrong !
            </div>
            <div class="correction correction-true" *ngIf="quiz.isTaken && point[i] === 1">
              <mat-icon>check</mat-icon>&nbsp;Your answer is Correct !
            </div>

          </div>
          <div class="btn-group">
            <button mat-button class="btn btn__save" type="submit" [disabled]="isTaken">Submit</button>
            <button mat-button class="btn btn__save btn__retest" [disabled]="!isTaken" (click)="onRetest()">Retest</button>
          </div>
        </form>

        <div class="result" *ngIf="isTaken">
          <h1>Result</h1>
          <div class="result-true">Correct answer : {{ mark }}</div>
          <div class="result-false">Wrong answer : {{ quiz.questions.length - mark}}</div>
          <div class="result-percent">Percentage : {{ (mark / quiz.questions.length) * 100 }}%</div>
        </div>


      </div>
    </div>
  </div>
</main>
