<main class="top-view">
  <div class="overview">
    <h1 class="overview__heading">
      <mat-icon
        color="primary"
        style="display: inline-flex; vertical-align: middle;"
        >edit_attributes</mat-icon
      >
      Planner
    </h1>
    <div class="overview__count">
      <div class="overview__count-average">8</div>
      <div class="overview__count-count">Collection</div>
    </div>
  </div>

  <div class="detail">
    <div class="description">
      </div>
  </div>
</main>

<!--<app-add-card></app-add-card>-->
<!--<app-collection></app-collection>-->
