<main class="top-view">
  <div class="overview">
    <h1 class="overview__heading">
      <mat-icon
        color="primary"
        style="display: inline-flex; vertical-align: middle;"
      >table
      </mat-icon
      >
      schedule
    </h1>
    <div class="overview__count">
      <div class="overview__count-average">3</div>
      <div class="overview__count-count">to dos</div>
    </div>
  </div>

  <div class="detail">
    <div class="description">

      <div class="event">
        <div class="header-edit">
          <h3>Edit events</h3>
          <div class="event-btn__group">
            <button class="btn completed">
              Completed events
            </button>
            <button class="btn addnew" (click)="addEvent()">
              Add new
            </button>
            <div class="clearfix"></div>
          </div>
        </div>

        <table class="event-table" *ngIf="temp_events.length > 0">
          <thead>
          <tr>
            <th>Event</th>
            <th>Priority</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
            <th>Done?</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let event of temp_events; let index = index">
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color"
                (change)="refresh.next()"
                class="color-picker"
              />
            </td>

            <td>
              <input
                class="date_time-picker"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <input
                class="date_time-picker"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <button
                class="btn delete"
                (click)="temp_events.splice(index, 1); refresh.next()"
              >
                Delete
              </button>
            </td>
            <td>
              <button class="btn done" (click)="onSave(event)">
                <i class="fas fa-check i"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="description">
      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Event action occurred</h5>
          <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
          </div>
          <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="close()"
          >
            OK
          </button>
        </div>
      </ng-template>

      <div class="header">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false"
            >
              Previous
            </div>
            <div class="btn today" mwlCalendarToday [(viewDate)]="viewDate">
              Today
            </div>
            <div
              class="btn"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false"
            >
              Next
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn active"
              (click)="view = CalendarView.Month"
              [class.active]="view === CalendarView.Month"
            >
              Month
            </div>
            <div
              class="btn"
              (click)="view = CalendarView.Week"
              [class.active]="view === CalendarView.Week"
            >
              Week
            </div>
            <div
              class="btn"
              (click)="view = CalendarView.Day"
              [class.active]="view === CalendarView.Day"
            >
              Day
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </div>

    </div>
  </div>
</main>
