<router-outlet></router-outlet>
<!--<main class="hotel-view">-->
  <!--<div class="overview">-->
    <!--<h1 class="overview__heading">Hotel Las Pamas</h1>-->
    <!--<div class="overview__stars">-->
      <!--<svg class="overview__icon-star">-->
        <!--<use xlink:href="assets/img/sprite.svg#icon-star"></use>-->
      <!--</svg>-->
      <!--<svg class="overview__icon-star">-->
        <!--<use xlink:href="assets/img/sprite.svg#icon-star"></use>-->
      <!--</svg>-->
      <!--<svg class="overview__icon-star">-->
        <!--<use xlink:href="assets/img/sprite.svg#icon-star"></use>-->
      <!--</svg>-->
      <!--<svg class="overview__icon-star">-->
        <!--<use xlink:href="assets/img/sprite.svg#icon-star"></use>-->
      <!--</svg>-->
      <!--<svg class="overview__icon-star">-->
        <!--<use xlink:href="assets/img/sprite.svg#icon-star"></use>-->
      <!--</svg>-->
    <!--</div>-->
