<main class="hotel-view">
  <div class="overview">
    <h1 class="overview__heading">Hotel Las Pamas</h1>
    <div class="overview__stars">
      <svg class="overview__icon-star">
        <use xlink:href="assets/img/sprite.svg#icon-star"></use>
      </svg>
      <svg class="overview__icon-star">
        <use xlink:href="assets/img/sprite.svg#icon-star"></use>
      </svg>
      <svg class="overview__icon-star">
        <use xlink:href="assets/img/sprite.svg#icon-star"></use>
      </svg>
      <svg class="overview__icon-star">
        <use xlink:href="assets/img/sprite.svg#icon-star"></use>
      </svg>
      <svg class="overview__icon-star">
        <use xlink:href="assets/img/sprite.svg#icon-star"></use>
      </svg>
    </div>

    <div class="overview__location">
      <svg class="overview__icon-location">
        <use xlink:href="assets/img/sprite.svg#icon-location-pin"></use>
      </svg>
      <button class="btn-inline">BKK,Thailand</button>
    </div>

    <div class="overview__rating">
      <div class="overview__rating-average">8.6</div>
      <div class="overview__rating-count">250 votes</div>
    </div>
    <div class="star"></div>
  </div>
  <div class="detail">
    <div class="description">
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
        molestiae atque neque excepturi sed, consequatur autem architecto
        voluptatum quos rem nam, qui nisi assumenda animi exercitationem ullam
        at consequuntur soluta?
      </p>
      <p class="paragraph">
        consequatur autem architecto voluptatum quos rem nam, qui nisi assumenda
        animi exercitationem ullam at consequuntur soluta?
      </p>
      <ul class="list">
        <li class="list__item">Close to the beach</li>
        <li class="list__item">Breakfast Include</li>
        <li class="list__item">Free airport suttle bus</li>
        <li class="list__item">Free wifi in all room</li>
        <li class="list__item">Air condition and Heating</li>
        <li class="list__item">Pats allow</li>
        <li class="list__item">We speak all languages</li>
        <li class="list__item">Perfect for famili</li>
      </ul>
      <div class="recommned">
        <p class="recommned__count">
          Lucy and 3 oter frieds recommand this Hotel
        </p>
        <div class="recommned__friend">
          <img src="assets/img/701987-avatar/png/036-woman.png" alt="friend 3" class="recommned__photo" />
          <img src="assets/img/701987-avatar/png/036-woman.png" alt="friend 4" class="recommned__photo" />
          <img src="assets/img/701987-avatar/png/036-woman.png" alt="friend 5" class="recommned__photo" />
          <img src="assets/img/701987-avatar/png/036-woman.png" alt="friend 6" class="recommned__photo" />
        </div>
      </div>
    </div>

    <div class="user-reviews">
      <figure class="review">
        <blockquote class="review__text">
          Lorem ipsum dolor sit amet consectetur nesciunt impedit recusandae,
          eligendi non perspiciatis ducimus odio
        </blockquote>
        <figcaption class="review__user">
          <img src="assets/img/701987-avatar/png/036-woman.png" alt="User 1" class="review__photo" />
          <div class="review__user-box">
            <p class="review__user-name">Nick Smith</p>
            <p class="review__user-date">Feb 23rd, 2017</p>
          </div>
          <div class="review__rating">7.8</div>
        </figcaption>
      </figure>
      <figure class="review">
        <blockquote class="review__text">
          consequuntur eos at repudiandae explicabo incidunt eaque quis harum
          dicta?
        </blockquote>
        <figcaption class="review__user">
          <img src="assets/img/701987-avatar/png/036-woman.png" alt="User 2" class="review__photo" />
          <div class="review__user-box">
            <p class="review__user-name">Marry THomas</p>
            <p class="review__user-date">Sept 13rd, 2017</p>
          </div>
          <div class="review__rating">9.3</div>
        </figcaption>
      </figure>
      <button class="btn-inline">Show all <span>&rarr;</span></button>
    </div>
  </div>
  <div class="cta">
    <h2 class="cta__book-now">
      good newws! we have 4 free rooms for ypur selected date
    </h2>
    <button class="btn">
      <span class="btn__visible">Book now</span>
      <span class="btn__invisible">Only 4 rooms left</span>
    </button>
  </div>

</main>
