<div class="add-card__container">
  <h1>Add new card!</h1>
  <form #f="ngForm">
    <div class="add-card__area">
      <textarea
        ngModel
        name="front_text"
        class="add-card__information add-card__information-front"
        placeholder="Front"
        #front
      ></textarea>
      <textarea
        ngModel
        name="back_text"
        class="add-card__information add-card__information-back"
        placeholder="Back"
        #back
      ></textarea>
    </div>
    <div class="add-card__btn-group">
      <button
        matTooltip="Add this card"
        mat-button
        mat-button
        (click)="onAddCard(front.value, back.value, f)"
        [disabled]="!front.value || !back.value"
        [ngClass]="
          'add-card__btn-add ' +
          (!front.value || !back.value ? 'add-card__btn-add add-card__btn-add__disabled' : '')
        "
      >
        Add
      </button>
      <button
        matTooltip="Click to Finish"
        class="add-card__btn-done"
        mat-button
        mat-dialog-close
      >
        Exit
      </button>
    </div>
  </form>
</div>
