
$bp-largest: 75em; //1200px  (1200/16)
$bp-large: 68.25em; //1100px  (1100/16)
$bp-medium: 65.25em; //900px  (900/16)
$bp-small: 37.5em; //600px  (600/16)
$bp-smallest: 31.25em; //500px  (500/16)

.first {

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-align: initial;
    margin-top: 5rem;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 2rem;
    }

  }

  &__description {
    flex: 0 0 50%;
    padding-right: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media only screen and (max-width: $bp-medium) {
      padding-right:0rem;
    }
    &-btn {
      color: white;
      display: block;
      background-color: #27a700;
      box-shadow: 0 4px 0 green;
      border-radius: 5px;
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem 5rem;
      outline: none;
      border: none;
      cursor: pointer;
      transition: all .2s;
      text-decoration: none;
      text-align: center;
      margin: 2rem auto;

      &:hover {
        transform: scale(1.1);
        color: #d7fcd7;
      }

      &:active {
        transform: scale(.95);
      }

    }
  }

  &__photo {
    flex: 1;
    margin: auto;

    .img {
      width: 100%;
    }
  }
}

