.first {
    height: 60rem;
    background-color: var(--color-primary);
    padding: 13rem 9rem 0 9rem; 

}

.second {
    height: 100%;
    background-color: white;
    padding: 10rem 13rem 0 13rem; 
}

.third {
    height: 100%;
    padding: 10rem 13rem 0 13rem; 

}