<main class="top-view">
    <div class="overview">
      <h1 class="overview__heading">
        <mat-icon
          color="primary"
          style="display: inline-flex; vertical-align: middle;"
          >style</mat-icon
        >
        Flashcards
      </h1>
      <div class="overview__count">
        <div class="overview__count-average">8</div>
        <div class="overview__count-count">Collection</div>
      </div>
    </div>

    <div class="detail">
      <div class="description">
        <div class="description-btn_set">
          <form action="#" class="search">
            <input
              type="text"
              class="search__input"
              placeholder="Search for collection name, author"
            />
            <button class="search__button">
              <mat-icon class="search__icon" color="primary">search</mat-icon>
            </button>
          </form>
          <div class="description-btn_set-right">
            <!--<button
              mat-raised-button
              matTooltip="My Flashcard"
              class="btn-my"
              mat-button
            >
              My Flashcard
            </button>-->
            <button
              mat-raised-button
              matTooltip="Create new collection of Flashcard"
              class="btn-create"
              mat-button
              (click)="openCreateFlashcardDialog()"
            >
              Create new collection
            </button>
            <button
              mat-raised-button
              matTooltip="Remove collection"
              class="btn-edit"
              (click)="onClickEdit()"
              *ngIf="!editClicked"
            >
              Edit
            </button>
            <button
              mat-raised-button
              matTooltip="Remove collection"
              class="btn-edit"
              (click)="onClickEdit()"
              *ngIf="editClicked"
            >
              Done
            </button>
          </div>
        </div>
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Collection Name

            </th>
            <td mat-cell *matCellDef="let element"><mat-icon class="fill-green">public</mat-icon>{{ element.title }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let element"><mat-icon class="fill-primary">lock</mat-icon>{{ element.description }}</td>
          </ng-container>

          <ng-container matColumnDef="numberOfCard">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No. of card</th>
            <td mat-cell *matCellDef="let element">{{ element.numberOfCard }}</td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                matTooltip="Remove collection"
                class="btn-delete"
                (click)="onClickDelete(element)"
              >
                <mat-icon>remove_circle</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="getDisplayedColumn()"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: getDisplayedColumn()"
            (click)="onRowClick(row)"
          ></tr>
        </table>
      </div>
    </div>
  </main>

  <!--<app-add-card></app-add-card>-->
  <!--<app-collection></app-collection>-->
