<div class="edit-card">
  <h1>Edit your flash card collection !</h1>

  <mat-accordion>
    <form>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="icon">edit</mat-icon>&nbsp;Edit Title and
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="edit-card__header">
          <mat-form-field color="primary">
            <input
              name="title"
              matInput
              type="text"
              class="collection_name"
              placeholder="Collection Name"
              #collectionName
              [value]="data.title"
              #title
            />
          </mat-form-field>
          <mat-form-field>
            <textarea
              name="description"
              matInput
              class="collection_description"
              type="text"
              placeholder="Description"
              [value]="data.description"
              #description
            >
              {{ data.description }}</textarea
            >
          </mat-form-field>
          <button
            matTooltip="Save change"
            class="btn__done"
            mat-button
            (click)="onUpdate(title.value,description.value)"
          >
            Save
          </button>
        </div>
      </mat-expansion-panel>

    </form>
    <form>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="icon">note_add</mat-icon>&nbsp;Insert card
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form #f="ngForm">
          <div class="edit-card__flashcard">
          <textarea
            ngModel
            name="description"
            matInput
            class="front"
            type="text"
            placeholder="Front"
            #front
          ></textarea>
            <textarea
              ngModel
              name="description"
              matInput
              class="back"
              type="text"
              placeholder="Back"
              #back
            ></textarea>
            <button
              class="btn btn__add"
              matTooltip="Delete"
              mat-button
              [disabled]="!front.value || !back.value"
              [ngClass]="
              'btn btn__add ' +
              (!front.value || !back.value ? 'btn btn__add-disabled' : '')
            "
              (click)="onAddCard(front.value,back.value,f)"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </form>
    <form>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="icon">delete_sweep</mat-icon>&nbsp;Edit and Remove
            card
          </mat-panel-title>
        </mat-expansion-panel-header>
        <cdk-virtual-scroll-viewport class="edit-card__scroll" [itemSize]="20">
          <div
            class="edit-card__flashcard"
            *cdkVirtualFor="let i of data.cards"
          >
            <textarea
              name="description"
              matInput
              class="front"
              type="text"
              placeholder="Front"
            >{{ i.front_text }}</textarea
            >
            <textarea
              name="description"
              matInput
              class="back"
              type="text"
              placeholder="Back"
            >{{ i.back_text }}</textarea
            >
            <button class="btn btn__remove" matTooltip="Delete" mat-button (click)="onDelete(i._id)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </cdk-virtual-scroll-viewport>
        <button
          matTooltip="Save change"
          class="btn__done"
          mat-button
        >
          Save
        </button>
      </mat-expansion-panel>
    </form>
  </mat-accordion>
  <button
    matTooltip="Save all change"
    class="btn__done"
    mat-button
    mat-dialog-close
  >
    Done
  </button>
</div>
