<main class="top-view">
  <div class="overview">
      <h1 class="overview__heading">
          <mat-icon
            color="primary"
            style="display: inline-flex; vertical-align: middle;"
          >timer
          </mat-icon
          >
          Countdown
        </h1>
    <div class="overview__count">
      <div class="overview__count-average">{{ number_events }}</div>
      <div class="overview__count-count">Events</div>
    </div>
  </div>
  <div class="detail">
    <div class="description" *ngFor="let event of events">
      <div class="countdown-day">
        {{event.days}}
        <span>Days</span>
      </div>
      <div class="countdown-event">
        <table>
          <tr>
            <td class="countdown-task">Event :</td>
            <td>{{event.title}} &nbsp;</td>
          </tr>
          <tr>
            <td class="countdown-task">Starts at :</td>
            <td>{{event.startAt | date : 'medium' }}</td>
          </tr>
          <tr *ngIf="event.endAt">
            <td class="countdown-task">Ends at :</td>
            <td>{{event.endAt | date : 'medium'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>
