<main class="top-view">
  <div class="overview">
      <h1 class="overview__heading">
          <mat-icon
            color="primary"
            style="display: inline-flex; vertical-align: middle;"
          >timer
          </mat-icon
          >
          Countdown
        </h1>
    <div class="overview__count">
      <div class="overview__count-average">05</div>
      <div class="overview__count-count">Events</div>
    </div>
  </div>
  <div class="detail">
    <div class="description">
      <div class="countdown-day">
        02
        <span>Days</span>
      </div>
      <div class="countdown-event">
        <table>
          <tr>
            <td class="countdown-task">Event :</td>
            <td>Math Exam &nbsp;</td>
          </tr>
          <tr>
            <td class="countdown-task">Starts at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Ends at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Desceiption :</td>
            <td>
              Exam hall at block 4 room no. 2017 *Do not forget to bring Hall
              ticket
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="description">
      <div class="countdown-day">
        05
        <span>Days</span>
      </div>
      <div class="countdown-event">
        <table>
          <tr>
            <td class="countdown-task">Event :</td>
            <td>Math Exam &nbsp;</td>
          </tr>
          <tr>
            <td class="countdown-task">Starts at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Ends at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Desceiption :</td>
            <td>
              Exam hall at block 4 room no. 2017 *Do not forget to bring Hall
              ticket
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="description">
      <div class="countdown-day">
        07
        <span>Days</span>
      </div>
      <div class="countdown-event">
        <table>
          <tr>
            <td class="countdown-task">Event :</td>
            <td>Math Exam &nbsp;</td>
          </tr>
          <tr>
            <td class="countdown-task">Starts at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Ends at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Desceiption :</td>
            <td>
              Exam hall at block 4 room no. 2017 *Do not forget to bring Hall
              ticket
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="description">
      <div class="countdown-day">
        12
        <span>Days</span>
      </div>
      <div class="countdown-event">
        <table>
          <tr>
            <td class="countdown-task">Event :</td>
            <td>Math Exam &nbsp;</td>
          </tr>
          <tr>
            <td class="countdown-task">Starts at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Ends at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Desceiption :</td>
            <td>
              Exam hall at block 4 room no. 2017 *Do not forget to bring Hall
              ticket
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="description">
      <div class="countdown-day">
        100
        <span>Days</span>
      </div>
      <div class="countdown-event">
        <table>
          <tr>
            <td class="countdown-task">Event :</td>
            <td>Math Exam &nbsp;</td>
          </tr>
          <tr>
            <td class="countdown-task">Starts at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Ends at :</td>
            <td>12/03/2019 2:45 pm</td>
          </tr>
          <tr>
            <td class="countdown-task">Desceiption :</td>
            <td>
              Exam hall at block 4 room no. 2017 *Do not forget to bring Hall
              ticket
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>
