<div class="mcq">
  <h1>Create multiple choice question!</h1>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your question</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Question"
            formControlName="question"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext class="mcq__btn mcq__btn-next">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your correct answer</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Answer"
            formControlName="answer"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious class="mcq__btn mcq__btn-back">
            Back
          </button>
          <button mat-button matStepperNext class="mcq__btn mcq__btn-next">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">


        <button
          mat-icon-button
          class="mcq__btn mcq__btn-edit mcq__btn-edit__add"
          matTooltip="Add more choice"
          (click)="onAddChoice()"
        >
          <mat-icon>add</mat-icon>
          Add more choice
        </button>
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Fill out your choices</ng-template>
        <cdk-virtual-scroll-viewport class="create-choice__scroll" [itemSize]="20">
          <div class="mcq__choice" *cdkVirtualFor="let control of helper(i); let j = index;" [formGroupName]="j+1">
            <mat-form-field>
              <input
                matInput
                [placeholder]="'Choice ' + (j+1)"
                formControlName="choice"
                value=""
                required
              />
            </mat-form-field>
            <button
              mat-icon-button
              class="mcq__btn mcq__btn-edit mcq__btn-edit__remove"
              matTooltip="Remove this choice"
              (click)="onRemoveChoice(i)"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </div>
        </cdk-virtual-scroll-viewport>
        <div>
          <button mat-button matStepperPrevious class="mcq__btn mcq__btn-back">
            Back
          </button>
          <button mat-button matStepperNext class="mcq__btn mcq__btn-next">
            Next
          </button>
        </div>
      </form>


    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Save this quesion?
      <div>
        <button
          mat-button
          (click)="stepper.reset()"
          class="mcq__btn mcq__btn-reset"
        >
          Reset
        </button>
        <button mat-button mat-dialog-close class="mcq__btn mcq__btn-save" (click)="onSubmit()" [mat-dialog-close]="data.questions">
          Save
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
