<div class="create-flashcard__container">
  <form>
    <div class="create-flashcard__header">
      <div class="create-flashcard__header-left">
        <h1>Create new flash card collection !</h1>
        <mat-form-field color="primary">
          <input
            matInput
            type="text"
            class="collection_name"
            placeholder="Collection Name"
            [(ngModel)]="collection_name"
            #collectionName
          />
          <button
            mat-button
            *ngIf="collection_name"
            matSuffix
            mat-icon-button
            (click)="collection_name = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <textarea
            matInput
            class="collection_description"
            type="text"
            placeholder="Describtion"
            [(ngModel)]="collection_description"
          ></textarea>
          <button
            mat-button
            *ngIf="collection_description"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="collection_description = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <!--<div class="create-flashcard__header-right">
        <div class="overview__count">
          <div class="overview__count-average">0</div>
          <div class="overview__count-count">Cards</div>
        </div>
      </div>-->
    </div>
    <div class="btn-insert">
        <button
        mat-raised-button
        matTooltip="Create new collection of Flashcard"
        aria-label="Button that displays a tooltip when focused or hovered over"
        class="btn-create"
        mat-button mat-dialog-close
        (click)="openAddCardDialog()"
        [disabled]="!collectionName.value"
        >
        Create
      </button>
    </div>
  </form>
</div>


