<div class="create-flashcard__container">
  <form>
    <div class="create-flashcard__header">
      <div class="create-flashcard__header-left">
        <h1>Create new flash card collection !</h1>
        <mat-form-field color="primary">
          <input
            name="title"
            matInput
            type="text"
            class="collection_name"
            placeholder="Collection Name"
            [(ngModel)]="collection_name"
            #collectionName
          />
        </mat-form-field>
        <mat-form-field>
          <textarea
            name="description"
            matInput
            class="collection_description"
            type="text"
            placeholder="Description"
            [(ngModel)]="collection_description"
            #description
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-insert">
        <button
        mat-raised-button
        matTooltip="Create new collection of Flashcard"
        aria-label="Button that displays a tooltip when focused or hovered over"
        class="btn-create"
        mat-button mat-dialog-close
        (click)="onAddCollection(collectionName.value,description.value)"
        [disabled]="!collectionName.value"
        >
        Create
      </button>
    </div>
  </form>
</div>


