<div class="create-flashcard__container">
  <form>
    <div class="create-flashcard__header">
      <div class="create-flashcard__header-left">
        <h1>Create new flash card collection !</h1>
        <mat-form-field color="primary">
          <input
            name="title"
            matInput
            type="text"
            class="collection_name"
            placeholder="Collection Name"
            #collectionName
          />
        </mat-form-field>
        <mat-form-field>
          <textarea
            name="description"
            matInput
            class="collection_description"
            type="text"
            placeholder="Description"
            #description
          ></textarea>
        </mat-form-field>
        <div class="privacy-toggle">
            Do you want to share this collection? &nbsp;
            <mat-slide-toggle matInput #privacy color="primary" (click)="sliding(privacy.checked)">{{ privacyText}}</mat-slide-toggle>
        </div>

      </div>
    </div>
    <div class="btn-insert">
      <button
        matTooltip="Create new collection of Flashcard"
        mat-button
        mat-dialog-close
        (click)="onAddCollection(collectionName.value, description.value)"
        [disabled]="!collectionName.value"
        [ngClass]="('btn-create ' + (!collectionName.value ? 'btn-create__disabled' : ''))"
      >
        Create
      </button>
    </div>
  </form>
</div>
